<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:s="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

    <context:component-scan base-package="com.cn.sl"/>

    <!--<import resource="spring-task.xml"/>-->
    <!--<import resource="spring-quartz.xml"/>-->
    <import resource="spring-database.xml"/>


    <bean id="encodingFilter" class="org.springframework.web.filter.CharacterEncodingFilter">
        <property name="encoding" value="UTF-8"/>
    </bean>

    <!--filter chain-->
    <bean id="appFilterChain" class="org.springframework.security.web.FilterChainProxy">
        <s:filter-chain-map path-type="ant">
            <s:filter-chain filters="encodingFilter"
                            pattern="/**/*.do"/>
        </s:filter-chain-map>
    </bean>


</beans>
