<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ctas.web.mybatis.mapper.AgtAdjustMapper">
    <resultMap id="BaseResultMap" type="ctas.entity.AgtAdjust">
        <id column="REC_ID" property="recId" jdbcType="DECIMAL"/>
        <result column="COMPANY_CODE" property="companyCode" jdbcType="VARCHAR"/>
        <result column="AGENT_CODE" property="agentCode" jdbcType="VARCHAR"/>
        <result column="FEE" property="fee" jdbcType="DECIMAL"/>
        <result column="FEE_CODE" property="feeCode" jdbcType="VARCHAR"/>
        <result column="BILL_NO" property="billNo" jdbcType="DECIMAL"/>
        <result column="EFFECTIVE_BILL_NO" property="effectiveBillNo" jdbcType="DECIMAL"/>
        <result column="IF_DEDUCT_WEIGHT" property="ifDeductWeight" jdbcType="CHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="CREATOR_ID" property="creatorId" jdbcType="VARCHAR"/>
        <result column="CREATOR_NAME" property="creatorName" jdbcType="VARCHAR"/>
        <result column="LAST_UPDATE_TIME" property="lastUpdateTime" jdbcType="TIMESTAMP"/>
        <result column="LAST_UPDATOR_ID" property="lastUpdatorId" jdbcType="VARCHAR"/>
        <result column="LAST_UPDATOR_NAME" property="lastUpdatorName" jdbcType="VARCHAR"/>
        <result column="DI" property="di" jdbcType="CHAR"/>
        <result column="EI" property="ei" jdbcType="CHAR"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getAgtAdjustFee" parameterType="java.util.Map"
            resultType="ctas.web.dto.agt.AgtAdjustDto">
        select t.rec_id as recid,
        t.company_code as companyCode,
        t.AGENT_CODE as agentCode,
        t.fee as fee,
        t.fee_code as feeType,
        decode(t.fee_code,
        'ALL',
        '适用全部',
        (select f.fee_dsc
        from ctas_fee_type f
        where f.fee_type = t.fee_code
        and rownum = 1)) as feeDesc,
        t.bill_no as billDate,
        t.effective_bill_no as effectiveBillNo,
        t.if_deduct_weight as isDeduct,
        t.create_time as createTime,
        t.creator_id as creatorId,
        t.creator_name as creatorName,
        t.last_update_time as lastUpdateTime,
        t.last_updator_id as lastUpdatorId,
        t.last_updator_name as lastUpdatorName,
        t.remark,
        t.di,
        t.ei
        from CTAS_AGT_ADJUST t
        WHERE 1 = 1
        <if test="agentCode != null and agentCode!=''">
            AND t.AGENT_CODE = #{agentCode,jdbcType=VARCHAR}
        </if>
        <if test="di != null and di!=''">
            AND t.DI = #{di,jdbcType=VARCHAR}
        </if>
        <if test="ei != null and ei!=''">
            AND t.EI = #{ei,jdbcType=VARCHAR}
        </if>
        <if test="billDate != null and billDate!=''">
            AND t.bill_no = #{billDate,jdbcType=VARCHAR}
        </if>
        <if test="feeType != null and feeType!='' and feeType!='ALL'">
            AND t.fee_code = #{feeType,jdbcType=VARCHAR}
        </if>
    </select>
    <!--查询代理人调整费用合计-->
    <select id="getTotalAgtAdjustFee" parameterType="java.util.Map"
            resultType="ctas.web.dto.agt.AgtAdjustDto">
        select
        sum(t.fee) as fee
        from CTAS_AGT_ADJUST t
        WHERE 1 = 1
        <if test="agentCode != null and agentCode!=''">
            AND t.AGENT_CODE = #{agentCode,jdbcType=VARCHAR}
        </if>
        <if test="di != null and di!=''">
            AND t.DI = #{di,jdbcType=VARCHAR}
        </if>
        <if test="ei != null and ei!=''">
            AND t.EI = #{ei,jdbcType=VARCHAR}
        </if>
        <if test="billDate != null and billDate!=''">
            AND t.bill_no = #{billDate,jdbcType=VARCHAR}
        </if>
        <if test="feeType != null and feeType!='' and feeType!='ALL'">
            AND t.fee_code = #{feeType,jdbcType=VARCHAR}
        </if>
    </select>

    <sql id="Base_Column_List">
    REC_ID, COMPANY_CODE, AGENT_CODE, FEE, FEE_CODE, BILL_NO, EFFECTIVE_BILL_NO, IF_DEDUCT_WEIGHT, 
    CREATE_TIME, CREATOR_ID, CREATOR_NAME, LAST_UPDATE_TIME, LAST_UPDATOR_ID, LAST_UPDATOR_NAME, 
    DI, EI, REMARK
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from CTAS_AGT_ADJUST
        where REC_ID = #{recId,jdbcType=DECIMAL}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from CTAS_AGT_ADJUST
    where REC_ID = #{recId,jdbcType=DECIMAL}
  </delete>
    <insert id="insert" parameterType="ctas.entity.AgtAdjust">

        <selectKey keyProperty="recId" order="BEFORE" resultType="Long">
            select SEQ_CTAS_AGT_ADJUST.nextval as recId from dual
        </selectKey>

        insert into CTAS_AGT_ADJUST (REC_ID, COMPANY_CODE, AGENT_CODE,
        FEE, FEE_CODE, BILL_NO,
        EFFECTIVE_BILL_NO, IF_DEDUCT_WEIGHT, CREATE_TIME,
        CREATOR_ID, CREATOR_NAME, LAST_UPDATE_TIME,
        LAST_UPDATOR_ID, LAST_UPDATOR_NAME, DI,
        EI, REMARK)
        values (#{recId,jdbcType=DECIMAL}, #{companyCode,jdbcType=VARCHAR}, #{agentCode,jdbcType=VARCHAR},
        #{fee,jdbcType=DECIMAL}, #{feeCode,jdbcType=VARCHAR}, #{billNo,jdbcType=DECIMAL},
        #{effectiveBillNo,jdbcType=DECIMAL}, #{ifDeductWeight,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP},
        #{creatorId,jdbcType=VARCHAR}, #{creatorName,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=TIMESTAMP},
        #{lastUpdatorId,jdbcType=VARCHAR}, #{lastUpdatorName,jdbcType=VARCHAR}, #{di,jdbcType=CHAR},
        #{ei,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="ctas.entity.AgtAdjust">
        insert into CTAS_AGT_ADJUST
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="recId != null">
                REC_ID,
            </if>
            <if test="companyCode != null">
                COMPANY_CODE,
            </if>
            <if test="agentCode != null">
                AGENT_CODE,
            </if>
            <if test="fee != null">
                FEE,
            </if>
            <if test="feeCode != null">
                FEE_CODE,
            </if>
            <if test="billNo != null">
                BILL_NO,
            </if>
            <if test="effectiveBillNo != null">
                EFFECTIVE_BILL_NO,
            </if>
            <if test="ifDeductWeight != null">
                IF_DEDUCT_WEIGHT,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="creatorId != null">
                CREATOR_ID,
            </if>
            <if test="creatorName != null">
                CREATOR_NAME,
            </if>
            <if test="lastUpdateTime != null">
                LAST_UPDATE_TIME,
            </if>
            <if test="lastUpdatorId != null">
                LAST_UPDATOR_ID,
            </if>
            <if test="lastUpdatorName != null">
                LAST_UPDATOR_NAME,
            </if>
            <if test="di != null">
                DI,
            </if>
            <if test="ei != null">
                EI,
            </if>
            <if test="remark != null">
                REMARK,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="recId != null">
                #{recId,jdbcType=DECIMAL},
            </if>
            <if test="companyCode != null">
                #{companyCode,jdbcType=VARCHAR},
            </if>
            <if test="agentCode != null">
                #{agentCode,jdbcType=VARCHAR},
            </if>
            <if test="fee != null">
                #{fee,jdbcType=DECIMAL},
            </if>
            <if test="feeCode != null">
                #{feeCode,jdbcType=VARCHAR},
            </if>
            <if test="billNo != null">
                #{billNo,jdbcType=DECIMAL},
            </if>
            <if test="effectiveBillNo != null">
                #{effectiveBillNo,jdbcType=DECIMAL},
            </if>
            <if test="ifDeductWeight != null">
                #{ifDeductWeight,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="creatorId != null">
                #{creatorId,jdbcType=VARCHAR},
            </if>
            <if test="creatorName != null">
                #{creatorName,jdbcType=VARCHAR},
            </if>
            <if test="lastUpdateTime != null">
                #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdatorId != null">
                #{lastUpdatorId,jdbcType=VARCHAR},
            </if>
            <if test="lastUpdatorName != null">
                #{lastUpdatorName,jdbcType=VARCHAR},
            </if>
            <if test="di != null">
                #{di,jdbcType=CHAR},
            </if>
            <if test="ei != null">
                #{ei,jdbcType=CHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="ctas.entity.AgtAdjust">
        update CTAS_AGT_ADJUST
        <set>
            <if test="companyCode != null">
                COMPANY_CODE = #{companyCode,jdbcType=VARCHAR},
            </if>
            <if test="agentCode != null">
                AGENT_CODE = #{agentCode,jdbcType=VARCHAR},
            </if>
            <if test="fee != null">
                FEE = #{fee,jdbcType=DECIMAL},
            </if>
            <if test="feeCode != null">
                FEE_CODE = #{feeCode,jdbcType=VARCHAR},
            </if>
            <if test="billNo != null">
                BILL_NO = #{billNo,jdbcType=DECIMAL},
            </if>
            <if test="effectiveBillNo != null">
                EFFECTIVE_BILL_NO = #{effectiveBillNo,jdbcType=DECIMAL},
            </if>
            <if test="ifDeductWeight != null">
                IF_DEDUCT_WEIGHT = #{ifDeductWeight,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="creatorId != null">
                CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
            </if>
            <if test="creatorName != null">
                CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
            </if>
            <if test="lastUpdateTime != null">
                LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdatorId != null">
                LAST_UPDATOR_ID = #{lastUpdatorId,jdbcType=VARCHAR},
            </if>
            <if test="lastUpdatorName != null">
                LAST_UPDATOR_NAME = #{lastUpdatorName,jdbcType=VARCHAR},
            </if>
            <if test="di != null">
                DI = #{di,jdbcType=CHAR},
            </if>
            <if test="ei != null">
                EI = #{ei,jdbcType=CHAR},
            </if>
            <if test="remark != null">
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where REC_ID = #{recId,jdbcType=DECIMAL}
    </update>
    <update id="updateByPrimaryKey" parameterType="ctas.entity.AgtAdjust">
    update CTAS_AGT_ADJUST
    set COMPANY_CODE = #{companyCode,jdbcType=VARCHAR},
      AGENT_CODE = #{agentCode,jdbcType=VARCHAR},
      FEE = #{fee,jdbcType=DECIMAL},
      FEE_CODE = #{feeCode,jdbcType=VARCHAR},
      BILL_NO = #{billNo,jdbcType=DECIMAL},
      EFFECTIVE_BILL_NO = #{effectiveBillNo,jdbcType=DECIMAL},
      IF_DEDUCT_WEIGHT = #{ifDeductWeight,jdbcType=CHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
      LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=TIMESTAMP},
      LAST_UPDATOR_ID = #{lastUpdatorId,jdbcType=VARCHAR},
      LAST_UPDATOR_NAME = #{lastUpdatorName,jdbcType=VARCHAR},
      DI = #{di,jdbcType=CHAR},
      EI = #{ei,jdbcType=CHAR},
      REMARK = #{remark,jdbcType=VARCHAR}
    where REC_ID = #{recId,jdbcType=DECIMAL}
  </update>
</mapper>