<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ctas.web.mybatis.mapper.AgtBillMapper">
	<resultMap id="BaseResultMap" type="ctas.entity.AgtBill">
		<id column="REC_ID" property="recId" jdbcType="DECIMAL" />
		<result column="AGENT_CODE" property="agentCode" jdbcType="VARCHAR" />
		<result column="AGENT_NAME" property="agentName" jdbcType="VARCHAR" />
		<result column="FK_AGT_RATE_ID" property="fkAgtRateId"
			jdbcType="DECIMAL" />
		<result column="FEE_RULE_DSC" property="feeRuleDsc" jdbcType="VARCHAR" />
		<result column="FEE_TYPE" property="feeType" jdbcType="VARCHAR" />
		<result column="FEE_DSC" property="feeDsc" jdbcType="VARCHAR" />
		<result column="RATE" property="rate" jdbcType="DECIMAL" />
		<result column="TOTAL_WT" property="totalWt" jdbcType="DECIMAL" />
		<result column="FEE" property="fee" jdbcType="DECIMAL" />
		<result column="BILL_NO" property="billNo" jdbcType="VARCHAR" />
		<result column="BILL_DATE" property="billDate" jdbcType="DECIMAL" />
		<result column="DI" property="di" jdbcType="VARCHAR" />
		<result column="CARGO_MAIL_FLAG" property="cargoMailFlag"
			jdbcType="VARCHAR" />
		<result column="EI" property="ei" jdbcType="VARCHAR" />
		<result column="AIRPORT" property="airport" jdbcType="VARCHAR" />
		<result column="OPE_STATION" property="opeStation" jdbcType="VARCHAR" />
		<result column="REMARK" property="remark" jdbcType="VARCHAR" />
		<result column="CREATE_OPE" property="createOpe" jdbcType="VARCHAR" />
		<result column="CREATE_NAME" property="createName" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="AGREE_TYPE" property="agreeType" jdbcType="VARCHAR" />
		<result column="ADJUST_FLAG" property="adjustFlag" jdbcType="VARCHAR" />
		<result column="COMPANY_CODE" property="companyCode" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="FeeAgtBillIntResultMap" type="ctas.web.dto.agt.FeeAgtBillIntDto">
	  <result column="DAYFLAG" property="dayFlag" jdbcType="DECIMAL" />
	  <result column="TOTALWT" property="totalWt" jdbcType="DECIMAL" />
	  <result column="TOTALFEE" property="totalFee" jdbcType="DECIMAL" />
	  <result column="CUSTOMERALLNAME" property="customerAllName" jdbcType="VARCHAR" />
	  <result column="CUSTOMER" property="customer" jdbcType="VARCHAR" />
	  <result column="AGTCODE" property="agtCode" jdbcType="VARCHAR" />
	  <result column="ACGO" property="acgo" jdbcType="DECIMAL" />
	  <result column="ACGOFEE" property="acgoFee" jdbcType="DECIMAL" />
	  <result column="UACGO" property="uacgo" jdbcType="DECIMAL" />
	  <result column="UACGOFEE" property="uacgoFee" jdbcType="DECIMAL" />
	  <result column="SCENE" property="scene" jdbcType="DECIMAL" />
	  <result column="SCENEFEE" property="sceneFee" jdbcType="DECIMAL" />
	  <result column="EXPRESS" property="express" jdbcType="DECIMAL" />
	  <result column="EXPRESSFEE" property="expressFee" jdbcType="DECIMAL" />
	  <result column="BUP" property="bup" jdbcType="DECIMAL" />
	  <result column="BUPFEE" property="bupFee" jdbcType="DECIMAL" />
	  <result column="HOUSE" property="house" jdbcType="DECIMAL" />
	  <result column="HOUSEFEE" property="houseFee" jdbcType="DECIMAL" />
	  <result column="SHORTSPTI" property="shortspti" jdbcType="DECIMAL" />
	  <result column="F4STORE" property="f4store" jdbcType="DECIMAL" />
	  <result column="F4STOREWT" property="f4storeWt" jdbcType="DECIMAL" />
	  <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
	  <result column="CGOE" property="cgoe" jdbcType="DECIMAL" />
	  <result column="CGOEFEE" property="cgoeFee" jdbcType="DECIMAL" />
	  <result column="SHORTSPTE" property="shortspte" jdbcType="DECIMAL" />
	  <result column="POR" property="por" jdbcType="DECIMAL" />
	  <result column="PACKING" property="packing" jdbcType="DECIMAL" />
	  <result column="K1OOR" property="k1oor" jdbcType="DECIMAL" />
	  <result column="OOR" property="oor" jdbcType="DECIMAL" />
	  <result column="INCOME1" property="income1" jdbcType="VARCHAR" />
	  <result column="INCOME" property="income" jdbcType="VARCHAR" />
	  <result column="VICWT" property="vicWt" jdbcType="DECIMAL" />
	  <result column="VICFEE" property="vicFee" jdbcType="DECIMAL" />
	  <result column="BILLNO" property="billNo" jdbcType="VARCHAR" />
	  <result column="CIQ" property="ciq" jdbcType="DECIMAL" />
	  <result column="ARRDECLARE" property="arrDeclare" jdbcType="DECIMAL" />
	  <result column="ADJAMOUNT" property="adjAmount" jdbcType="DECIMAL" />
	  <result column="ADJPOR" property="adjPor" jdbcType="DECIMAL" />
	  <result column="ADJOOR" property="adjOor" jdbcType="DECIMAL" />
	  <result column="ADJCIQ" property="adjCiq" jdbcType="DECIMAL" />
	</resultMap>
	<select id="getAllAgtBill" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select t.awb_pre || '-' || t.awb_no as awbfullno,
		t.agent,
		t.pcs,
		t.weight,
		t.di,
		t.flight_no,
		t.flight_date,
		t.origin,
		t.dest
		from ctas_shark_agent t
		where t.di = 'D'
		and t.isagent = 'Y'
	</select>
	<select id="getFeeAgtBillOfInternationDay" resultMap="FeeAgtBillIntResultMap"
		parameterType="ctas.web.dto.agt.AgtBillQueryDto">
	  SELECT TB.CITY_ID AS AGTCODE,TB.Agent_Short_Name AS CUSTOMER,TB.Agent_Full_Name AS CUSTOMERALLNAME,TA.*  
FROM(SELECT K1.*,K2.*,
             (K1.K1AMOUNT+NVL(K2.ADJAMOUNT,0)) AMOUNT,
             (K1.K1POR+NVL(K2.ADJPOR,0)) POR,
             (K1.K1OOR+NVL(K2.ADJOOR,0)) OOR,
             (K1.K1CIQ+NVL(K2.ADJCIQ,0)) CIQ,                       
             (K1INCOME+NVL(K2.ADJAMOUNT,0)+NVL(K2.ADJPOR,0)+NVL(K2.ADJOOR,0)) INCOME1,
             (K1INCOME+NVL(K2.ADJAMOUNT,0)+NVL(K2.ADJPOR,0)+NVL(K2.ADJOOR,0)+K1.K1CIQ+NVL(K2.ADJCIQ,0)) INCOME
       FROM(SELECT A.*,(A.K1AMOUNT+A.K1POR+A.K1OOR) AS K1INCOME 
            FROM(SELECT AGenT_CODE AS AGTCODEK1,   
                       MAX(CASE WHEN FEE_TYPE = 'ACGO' AND EI = 'I' THEN TOTAL_WT ELSE 0 END) ACGO,
                       MAX(CASE WHEN FEE_TYPE = 'ACGO' AND EI = 'I' THEN FEE ELSE 0 END) ACGOFEE,
                       MAX(CASE WHEN FEE_TYPE = 'UACGO' AND EI = 'I' THEN TOTAL_WT ELSE 0 END) UACGO,
                       MAX(CASE WHEN FEE_TYPE = 'UACGO' AND EI = 'I' THEN FEE ELSE 0 END) UACGOFEE,
  
                       MAX(CASE WHEN FEE_TYPE = 'SCENE' AND EI = 'I' THEN TOTAL_WT ELSE 0 END) SCENE,
                       MAX(CASE WHEN FEE_TYPE = 'SCENE' AND EI = 'I' THEN FEE ELSE 0 END) SCENEFEE,
  
                       MAX(CASE WHEN FEE_TYPE = 'EXPRESS' AND EI = 'I' THEN TOTAL_WT ELSE 0 END) EXPRESS,
                       MAX(CASE WHEN FEE_TYPE = 'EXPRESS' AND EI = 'I' THEN FEE ELSE 0 END) EXPRESSFEE,
  
                       MAX(CASE WHEN FEE_TYPE = 'BUP' AND EI = 'I' THEN TOTAL_WT ELSE 0 END) BUP,
                       MAX(CASE WHEN FEE_TYPE = 'BUP' AND EI = 'I' THEN FEE ELSE 0 END) BUPFEE,
  
                       MAX(CASE WHEN FEE_TYPE = 'HOUSE' AND EI = 'I' THEN TOTAL_WT ELSE 0 END) HOUSE,
                       MAX(CASE WHEN FEE_TYPE = 'HOUSE' AND EI = 'I' THEN FEE ELSE 0 END) HOUSEFEE,
  
                       ROUND(MAX(CASE WHEN FEE_TYPE = 'F4STORE' AND EI = 'I' THEN FEE ELSE 0 END),0) F4STORE,
                       ROUND(MAX(CASE WHEN FEE_TYPE = 'SHORTSPTI' AND EI = 'I' THEN FEE ELSE 0 END),0) SHORTSPTI,
                       ROUND(MAX(CASE WHEN FEE_TYPE = 'CIQ' AND EI = 'I' THEN FEE ELSE 0 END),0) K1CIQ,
  
                       (ROUND(MAX(CASE WHEN FEE_TYPE = 'ACGO' AND EI = 'I' THEN FEE ELSE 0 END),0)+
                        ROUND(MAX(CASE WHEN FEE_TYPE = 'UACGO' AND EI = 'I' THEN FEE ELSE 0 END),0)+
                        ROUND(MAX(CASE WHEN FEE_TYPE = 'SCENE' AND EI = 'I' THEN FEE ELSE 0 END),0)+
                        ROUND(MAX(CASE WHEN FEE_TYPE = 'EXPRESS' AND EI = 'I' THEN FEE ELSE 0 END),0)+
                        ROUND(MAX(CASE WHEN FEE_TYPE = 'BUP' AND EI = 'I' THEN FEE ELSE 0 END),0)+
                        ROUND(MAX(CASE WHEN FEE_TYPE = 'HOUSE' AND EI = 'I' THEN FEE ELSE 0 END),0)+
                        ROUND(MAX(CASE WHEN FEE_TYPE = 'SHORTSPTI' AND EI = 'I' THEN FEE ELSE 0 END),0)+
                        ROUND(MAX(CASE WHEN FEE_TYPE = 'F4STORE' AND EI = 'I' THEN FEE ELSE 0 END),0)                     
                       ) AS K1AMOUNT,
  
                       (MAX(CASE WHEN FEE_TYPE = 'CGOE' AND EI = 'E' AND DI = 'I' THEN TOTAL_WT ELSE 0 END)+
                        MAX(CASE WHEN FEE_TYPE = 'ADDEDCGO'AND EI = 'E' AND DI = 'I' THEN TOTAL_WT ELSE 0 END)
                       ) AS CGOE,
                       ROUND((MAX(CASE WHEN FEE_TYPE = 'CGOE' AND EI = 'E' AND DI = 'I' THEN FEE ELSE 0 END)+
                        MAX(CASE WHEN FEE_TYPE = 'ADDEDCGO'AND EI = 'E' AND DI = 'I' THEN FEE ELSE 0 END)
                       ),0) AS CGOEFEE,
  
                       ROUND(MAX(CASE WHEN FEE_TYPE = 'SHORTSPTE' AND EI = 'E' THEN FEE ELSE 0 END),0) SHORTSPTE,
                       ROUND(MAX(CASE WHEN FEE_TYPE = 'ARRDECLARE' AND EI = 'E' THEN FEE ELSE 0 END),0) ARRDECLARE,
                          
                       ROUND(MAX(CASE WHEN FEE_TYPE = 'PACKING' AND EI = 'E' THEN TOTAL_WT ELSE 0 END),0) PACKING,
                       ROUND(MAX(CASE WHEN FEE_TYPE = 'PACKING' AND EI = 'E' THEN FEE ELSE 0 END),0) K1OOR,
  
                       (ROUND(MAX(CASE WHEN FEE_TYPE = 'SHORTSPTE' AND EI = 'E' THEN FEE ELSE 0 END),0)+
                        ROUND(MAX(CASE WHEN FEE_TYPE = 'CGOE' AND EI = 'E'  AND DI = 'I' THEN FEE ELSE 0 END),0)+ 
                        ROUND(MAX(CASE WHEN FEE_TYPE = 'ADDEDCGO'AND EI = 'E' AND DI = 'I' THEN FEE ELSE 0 END),0)+                        
                        ROUND(MAX(CASE WHEN FEE_TYPE = 'ARRDECLARE' AND EI = 'E' THEN FEE ELSE 0 END),0)+
                        ROUND(MAX(CASE WHEN FEE_TYPE = 'VICFEE' AND EI = 'E' AND DI = 'I' THEN FEE ELSE 0 END),0)
                       ) AS K1POR,BILL_NO
                 FROM ctas_AGT_BILL_DAY 
                 WHERE (AGREE_TYPE != 'C' OR AGREE_TYPE IS NULL) AND (ADJUST_Flag='N'  OR ADJUST_Flag IS NULL)
	               <if test="dayFlag>0">
                   AND BILL_DATE=#{dayFlag,jdbcType=DECIMAL}
                   </if>
                   <if test="isTimeBucket!=null &amp;&amp; isTimeBucket.length()>0">
                   AND TIMEBUCKET_FLAG=#{isTimeBucket,jdbcType=VARCHAR}
                   </if>
                   AND COMPANY_CODE=#{companyCode,jdbcType=VARCHAR}
	               GROUP BY agent_name, AGent_CODE, BILL_NO ORDER BY AGenT_CODE) A
      ) K1 LEFT JOIN(SELECT AGenT_CODE AS AGTCODEK2,
                            (ROUND(NVL(MAX(CASE WHEN FEE_TYPE = 'ACGO' AND DI = 'I' THEN FEE ELSE null END),0),0)+
                            ROUND(NVL(MAX(CASE WHEN FEE_TYPE = 'UACGO' AND DI = 'I' THEN FEE ELSE null END),0),0)+
                            ROUND(NVL(MAX(CASE WHEN FEE_TYPE = 'SCENE' AND DI = 'I' THEN FEE ELSE null END),0),0)+
                            ROUND(NVL(MAX(CASE WHEN FEE_TYPE = 'EXPRESS' AND DI = 'I' THEN FEE ELSE null END),0),0)+
                            ROUND(NVL(MAX(CASE WHEN FEE_TYPE = 'BUP' AND DI = 'I' THEN FEE ELSE null END),0),0)+
                            ROUND(NVL(MAX(CASE WHEN FEE_TYPE = 'HOUSE' AND DI = 'I' THEN FEE ELSE null END),0),0)+
                            ROUND(NVL(MAX(CASE WHEN FEE_TYPE = 'SHORTSPTI' AND DI = 'I' THEN FEE ELSE null END),0),0)+
                            ROUND(NVL(MAX(CASE WHEN FEE_TYPE = 'F4STORE' AND DI = 'I' THEN FEE ELSE null END),0),0)+
                            ROUND(NVL(MAX(CASE WHEN FEE_TYPE = 'VICFEE' AND DI = 'I' THEN FEE ELSE null END),0),0)
                             ) AS ADJAMOUNT,
                             (ROUND(NVL(MAX(CASE WHEN FEE_TYPE = 'SHORTSPTE' AND DI = 'I' THEN FEE ELSE null END),0),0)+
                              ROUND(NVL(MAX(CASE WHEN FEE_TYPE = 'CGOE' AND DI = 'I' THEN FEE ELSE null END),0),0)+
                              ROUND(NVL(MAX(CASE WHEN FEE_TYPE = 'ADDEDCGO' AND DI = 'I' THEN FEE ELSE null END),0),0)+
                              ROUND(NVL(MAX(CASE WHEN FEE_TYPE = 'ARRDECLARE' AND DI = 'I' THEN FEE ELSE null END),0),0)
                             ) AS ADJPOR,
                             ROUND(NVL(MAX(CASE WHEN FEE_TYPE = 'CIQ' AND DI = 'I'  THEN FEE ELSE null END),0),0) AS ADJCIQ,
                             ROUND(NVL(MAX(CASE WHEN FEE_TYPE = 'PACKING' AND DI = 'I' THEN FEE ELSE null END),0),0) AS ADJOOR
                     FROM  ctas_AGT_BILL_DAY 
                     WHERE COMPANY_CODE=#{companyCode,jdbcType=VARCHAR} AND (AGREE_TYPE != 'C' OR AGREE_TYPE IS NULL)
                           AND ADJUST_Flag='Y'
	                         <if test="dayFlag>0">
			                 AND BILL_DATE=#{dayFlag,jdbcType=DECIMAL}
			                 </if>
		                     <if test="isTimeBucket!=null &amp;&amp; isTimeBucket.length()>0">
		                     AND TIMEBUCKET_FLAG=#{isTimeBucket,jdbcType=VARCHAR}
		                     </if>
	                         AND DI ='I' AND (OPE_STATION != '3U' OR OPE_STATION IS NULL)
                           AND FEE !=0
                     GROUP BY agent_name, AGent_CODE, BILL_NO ORDER BY AGent_CODE
                    ) K2 ON K1.AGTCODEK1=K2.AGTCODEK2
) TA RIGHT JOIN(select MB.CITY_ID,MD.Agent_Short_Name,MD.Agent_Full_Name
                  from(select DISTINCT MA.Agent_Code as CITY_ID
                       FROM ctas_agt_group MA
                       where MA.COMPANY_CODE=#{companyCode,jdbcType=VARCHAR}
	                     <if test="agtGroup!=null &amp;&amp; agtGroup.length()>0">
                         AND MA.PARTITION_ID=#{agtGroup,jdbcType=VARCHAR} 
                         </if>
                         <if test="agtCode!=null &amp;&amp; agtCode.length()>0">
                         AND MA.Agent_Code IN 
                           <foreach collection="agtCode" index="index" item="item" open="(" separator="," close=")">  
        					#{item,jdbcType=VARCHAR} 
    					   </foreach>  
                         </if>
	                    ) MB
                   left join (select * from(select row_number() over(partition by t.customer_short_name order by t.customer_id) as seq,
                                              t.customer_short_name,t.agent_short_name,t.agent_full_name
                                            from ctas_el_customer t 
                                            where COMPANY_CODE=#{companyCode,jdbcType=VARCHAR} AND t.city_id='SHA' and t.down_type='A')t
                              where t.seq=1) MD
                   on MB.CITY_ID = MD.customer_short_name
                  ) TB 
ON TB.CITY_ID=TA.AGTCODEK1 
ORDER BY TB.CITY_ID
	</select>
	<select id="estimateBulletinI" resultMap="FeeAgtBillIntResultMap" parameterType="java.util.Map">
		SELECT sum(TOTAL_WT) as TOTALWT,sum(FEE) as TOTALFEE  
        FROM ctas_AGT_BILL_DAY D
        WHERE
        D.COMPANY_CODE=#{companyCode,jdbcType=VARCHAR}
        and D.FEE_TYPE in
        <foreach collection="feeType" index="index" item="item" open="(" separator="," close=")">  
		#{item,jdbcType=VARCHAR} 
	   </foreach>  
        AND (D.AGREE_TYPE != 'C' OR D.AGREE_TYPE IS NULL)
        AND D.ADJUST_Flag != 'Y'
        AND D.DI = 'I' 
        <if test="expimp!=null &amp;&amp; expimp.length()>0">
        AND D.EI = #{expimp,jdbcType=VARCHAR} 
        </if> 
        AND D.AGenT_CODE IN (SELECT MA.Agent_Code FROM ctas_agt_group MA WHERE MA.PARTITION_ID = '12')
        AND D.FEE != 0 
        AND ((D.BILL_DATE = #{dayFlag,jdbcType=DECIMAL} AND D.TIMEBUCKET_FLAG = 'Y') 
        <if test='("EXPRESS".equals(feeType) || "SCENE".equals(feeType)) &amp;&amp; beginDate!=null &amp;&amp; endDate!=null'>
         or (D.BILL_DATE >= #{beginDate,jdbcType=DECIMAL} AND #{endDate,jdbcType=DECIMAL}>=D.BILL_DATE AND D.TIMEBUCKET_FLAG = 'N')
        </if>
        )
	</select>
</mapper>