<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ctas.web.mybatis.mapper.AgtRuleMapper">

    <resultMap id="AgreementResultMap" type="ctas.entity.Agreement">
        <id column="REC_ID" property="recId" jdbcType="DECIMAL"/>
        <result column="AGREEMENT_TYPE" property="agreementType" jdbcType="CHAR"/>
        <result column="CARRIER_CODE" property="carrierCode" jdbcType="VARCHAR"/>
        <result column="CARRIER_NAME" property="carrierName" jdbcType="VARCHAR"/>
        <result column="AGENT_CODE" property="agentCode" jdbcType="VARCHAR"/>
        <result column="AGENT_NAME" property="agentName" jdbcType="VARCHAR"/>
        <result column="AGREEMENT_CODE" property="agreementCode" jdbcType="VARCHAR"/>
        <result column="AGREEMENT_START_DATE" property="agreementStartDate" jdbcType="TIMESTAMP"/>
        <result column="AGREEMENT_END_DATE" property="agreementEndDate" jdbcType="TIMESTAMP"/>
        <result column="CURRENCY" property="currency" jdbcType="VARCHAR"/>
        <result column="CURRENCY_DSC" property="currencyDsc" jdbcType="VARCHAR"/>
        <result column="BILL_LANGUAGE" property="billLanguage" jdbcType="VARCHAR"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
        <result column="CREATE_OPE" property="createOpe" jdbcType="VARCHAR"/>
        <result column="CREATE_NAME" property="createName" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="EXCEPT_FLAG" property="exceptFlag" jdbcType="CHAR"/>
        <result column="FLT_EXCEPT_FLAG" property="fltExceptFlag" jdbcType="CHAR"/>
        <result column="COMPANY_CODE" property="companyCode" jdbcType="VARCHAR"/>
    </resultMap>


    <resultMap id="AgtRateResultMap" type="ctas.entity.AgtRate">
        <id column="REC_ID" property="recId" jdbcType="DECIMAL"/>
        <result column="FEE_RULE_DSC" property="feeRuleDsc" jdbcType="VARCHAR"/>
        <result column="FK_AGREE_ID" property="fkAgreeId" jdbcType="DECIMAL"/>
        <result column="FEE_TYPE" property="feeType" jdbcType="VARCHAR"/>
        <result column="FEE_DSC" property="feeDsc" jdbcType="VARCHAR"/>
        <result column="RATE" property="rate" jdbcType="DECIMAL"/>
        <result column="DI" property="di" jdbcType="VARCHAR"/>
        <result column="CARGO_MAIL_FLAG" property="cargoMailFlag" jdbcType="VARCHAR"/>
        <result column="EI" property="ei" jdbcType="VARCHAR"/>
        <result column="AIRPORT" property="airport" jdbcType="VARCHAR"/>
        <result column="OPE_STATION" property="opeStation" jdbcType="VARCHAR"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
        <result column="CREATE_OPE" property="createOpe" jdbcType="VARCHAR"/>
        <result column="CREATE_NAME" property="createName" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="MIN_PRICE" property="minPrice" jdbcType="DECIMAL"/>
        <result column="MAX_PRICE" property="maxPrice" jdbcType="DECIMAL"/>
        <result column="COMPANY_CODE" property="companyCode" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 查询代理人协议 -->
    <select id="queryAgreements" resultMap="AgreementResultMap" parameterType="java.util.Map">
        SELECT A.AGENT_CODE,
        A.AGENT_NAME,
        A.AGREEMENT_CODE,
        A.AGREEMENT_START_DATE,
        A.AGREEMENT_END_DATE,
        A.REMARK,
        A.REC_ID
        FROM CTAS_AGREE A
        WHERE A.AGREEMENT_TYPE = 'A'
        <if test="beginDate!=null">
            <![CDATA[ AND A.AGREEMENT_START_DATE < = #{beginDate,jdbcType=TIMESTAMP} ]]>
        </if>
        <if test="endDate!=null">
            <![CDATA[ AND A.AGREEMENT_END_DATE >= #{endDate,jdbcType=TIMESTAMP} ]]>
        </if>
        <if test="companyCode!=null">
            AND A.COMPANY_CODE=#{companyCode,jdbcType=VARCHAR}
        </if>
        <if test="agentCode!=null">
            AND A.AGENT_CODE=#{agentCode,jdbcType=VARCHAR}
        </if>
        ORDER BY A.REC_ID DESC
    </select>

    <!--查找所有费用代码（供调整界面加载下拉框用）-->
    <select id="getAllFeeTypeOptions" resultMap="AgtRateResultMap"
            parameterType="java.util.Map">
        SELECT R.FEE_TYPE, R.FEE_DSC, R.EI
        FROM CTAS_AGT_RATE R
        WHERE R.FK_AGREE_ID IN (SELECT REC_ID
        FROM CTAS_AGREE A
        WHERE A.AGREEMENT_TYPE = 'A'
        AND A.AGENT_CODE = '***'
        AND A.COMPANY_CODE = #{companyCode,jdbcType=VARCHAR})
        AND R.EI != 'ALL'
        AND R.COMPANY_CODE = #{companyCode,jdbcType=VARCHAR}
        GROUP BY R.FEE_TYPE, R.FEE_DSC, R.EI ORDER BY R.EI
    </select>

    <!--查找费用规则列表-->
    <select id="queryAgtRates" resultMap="AgtRateResultMap" parameterType="java.util.Map">
        select * from CTAS_AGT_RATE t where t.COMPANY_CODE=#{companyCode,jdbcType=VARCHAR}
        <if test="agreementId!=null">
            AND t.fk_agree_id=#{agreementId,jdbcType=DECIMAL}
        </if>
        <if test="agreementCode!=null and agentCode!=null">
            AND t.fk_agree_id=(select rec_id from CTAS_AGREE x where x.AGREEMENT_CODE=#{agreementCode,jdbcType=VARCHAR}
            and x.AGREEMENT_TYPE='A' and x.AGENT_CODE=#{agentCode,jdbcType=VARCHAR})
        </if>
    </select>

    <!--查询单条费用规则-->
    <select id="queryAgtRate" resultMap="AgtRateResultMap" parameterType="java.util.Map">
        select * from CTAS_AGT_RATE t where t.COMPANY_CODE=#{companyCode,jdbcType=VARCHAR}
        and t.REC_ID=#{recId,jdbcType=DECIMAL}
    </select>

    <!-- 查询代理人协议 -->
    <select id="queryAgreement" resultMap="AgreementResultMap" parameterType="java.util.Map">
        SELECT A.AGENT_CODE,
        A.AGENT_NAME,
        A.AGREEMENT_CODE,
        A.AGREEMENT_START_DATE,
        A.AGREEMENT_END_DATE,
        A.REMARK,
        A.REC_ID
        FROM CTAS_AGREE A
        WHERE A.REC_ID=#{recId,jdbcType=DECIMAL} and A.COMPANY_CODE=#{companyCode,jdbcType=VARCHAR}
    </select>


    <!--插入协议-->
    <insert id="insertAgreement" parameterType="ctas.entity.Agreement">
        <selectKey keyProperty="recId" order="BEFORE" resultType="Long">
            select SEQ_CTAS_AGREE.NEXTVAL as recId from dual
        </selectKey>
        insert into CTAS_AGREE (REC_ID, AGREEMENT_TYPE, CARRIER_CODE,
        CARRIER_NAME, AGENT_CODE, AGENT_NAME,
        AGREEMENT_CODE, AGREEMENT_START_DATE, AGREEMENT_END_DATE,
        CURRENCY, CURRENCY_DSC, BILL_LANGUAGE,
        REMARK, CREATE_OPE, CREATE_NAME,
        CREATE_TIME, EXCEPT_FLAG, FLT_EXCEPT_FLAG,
        COMPANY_CODE)
        values (#{recId,jdbcType=DECIMAL}, #{agreementType,jdbcType=CHAR},
        #{carrierCode,jdbcType=VARCHAR},
        #{carrierName,jdbcType=VARCHAR}, #{agentCode,jdbcType=VARCHAR}, #{agentName,jdbcType=VARCHAR},
        #{agreementCode,jdbcType=VARCHAR},
        #{agreementStartDate,jdbcType=TIMESTAMP},
        #{agreementEndDate,jdbcType=TIMESTAMP},
        #{currency,jdbcType=VARCHAR}, #{currencyDsc,jdbcType=VARCHAR}, #{billLanguage,jdbcType=VARCHAR},
        #{remark,jdbcType=VARCHAR}, #{createOpe,jdbcType=VARCHAR},
        #{createName,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP}, #{exceptFlag,jdbcType=CHAR}, #{fltExceptFlag,jdbcType=CHAR},
        #{companyCode,jdbcType=VARCHAR})
    </insert>


    <!--更新协议-->
    <update id="updateAgreement" parameterType="ctas.entity.Agreement">
        update CTAS_AGREE
        set AGREEMENT_TYPE = #{agreementType,jdbcType=CHAR},
        CARRIER_CODE = #{carrierCode,jdbcType=VARCHAR},
        CARRIER_NAME = #{carrierName,jdbcType=VARCHAR},
        AGENT_CODE = #{agentCode,jdbcType=VARCHAR},
        AGENT_NAME = #{agentName,jdbcType=VARCHAR},
        AGREEMENT_CODE = #{agreementCode,jdbcType=VARCHAR},
        AGREEMENT_START_DATE = #{agreementStartDate,jdbcType=TIMESTAMP},
        AGREEMENT_END_DATE = #{agreementEndDate,jdbcType=TIMESTAMP},
        CURRENCY = #{currency,jdbcType=VARCHAR},
        CURRENCY_DSC = #{currencyDsc,jdbcType=VARCHAR},
        BILL_LANGUAGE = #{billLanguage,jdbcType=VARCHAR},
        REMARK = #{remark,jdbcType=VARCHAR},
        CREATE_OPE = #{createOpe,jdbcType=VARCHAR},
        CREATE_NAME = #{createName,jdbcType=VARCHAR},
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
        EXCEPT_FLAG = #{exceptFlag,jdbcType=CHAR},
        FLT_EXCEPT_FLAG = #{fltExceptFlag,jdbcType=CHAR},
        COMPANY_CODE = #{companyCode,jdbcType=VARCHAR}
        where REC_ID = #{recId,jdbcType=DECIMAL}
    </update>

    <!--更新费用规则-->
    <update id="updateAgtRate" parameterType="ctas.entity.AgtRate" >
        update CTAS_AGT_RATE
        set FEE_RULE_DSC = #{feeRuleDsc,jdbcType=VARCHAR},
        FK_AGREE_ID = #{fkAgreeId,jdbcType=DECIMAL},
        FEE_TYPE = #{feeType,jdbcType=VARCHAR},
        FEE_DSC = #{feeDsc,jdbcType=VARCHAR},
        RATE = #{rate,jdbcType=DECIMAL},
        DI = #{di,jdbcType=VARCHAR},
        CARGO_MAIL_FLAG = #{cargoMailFlag,jdbcType=VARCHAR},
        EI = #{ei,jdbcType=VARCHAR},
        AIRPORT = #{airport,jdbcType=VARCHAR},
        OPE_STATION = #{opeStation,jdbcType=VARCHAR},
        REMARK = #{remark,jdbcType=VARCHAR},
        CREATE_OPE = #{createOpe,jdbcType=VARCHAR},
        CREATE_NAME = #{createName,jdbcType=VARCHAR},
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
        MIN_PRICE = #{minPrice,jdbcType=DECIMAL},
        MAX_PRICE = #{maxPrice,jdbcType=DECIMAL},
        COMPANY_CODE = #{companyCode,jdbcType=VARCHAR}
        where REC_ID = #{recId,jdbcType=DECIMAL}
    </update>

    <!--根据条件删除 -->
    <delete id="deleteAgreement" parameterType="java.util.Map">
        delete from ctas_agree a
        where a.REC_ID = #{recId,jdbcType=DECIMAL} and a.COMPANY_CODE = #{companyCode,jdbcType=VARCHAR}
    </delete>


    <!--新增费用规则-->
    <insert id="insertAgtRate" parameterType="ctas.entity.AgtRate">
        <selectKey keyProperty="recId" order="BEFORE" resultType="Long">
            select SEQ_CTAS_AGT_RATE.NEXTVAL as recId from dual
        </selectKey>
        insert into CTAS_AGT_RATE (REC_ID, FEE_RULE_DSC, FK_AGREE_ID,
        FEE_TYPE, FEE_DSC, RATE,
        DI, CARGO_MAIL_FLAG, EI,
        AIRPORT, OPE_STATION, REMARK,
        CREATE_OPE, CREATE_NAME, CREATE_TIME,
        MIN_PRICE, MAX_PRICE, COMPANY_CODE
        )
        values (#{recId,jdbcType=DECIMAL}, #{feeRuleDsc,jdbcType=VARCHAR}, #{fkAgreeId,jdbcType=DECIMAL},
        #{feeType,jdbcType=VARCHAR}, #{feeDsc,jdbcType=VARCHAR}, #{rate,jdbcType=DECIMAL},
        #{di,jdbcType=VARCHAR}, #{cargoMailFlag,jdbcType=VARCHAR}, #{ei,jdbcType=VARCHAR},
        #{airport,jdbcType=VARCHAR}, #{opeStation,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
        #{createOpe,jdbcType=VARCHAR}, #{createName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
        #{minPrice,jdbcType=DECIMAL}, #{maxPrice,jdbcType=DECIMAL}, #{companyCode,jdbcType=VARCHAR}
        )
    </insert>

    <!--删除代理人费用规则 -->
    <delete id="deleteAgtRate" parameterType="java.util.Map">
        delete from ctas_agt_rate a
        where a.REC_ID = #{recId,jdbcType=DECIMAL} and a.COMPANY_CODE=#{companyCode,jdbcType=VARCHAR}
    </delete>


</mapper>