<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ctas.bill.calculator.mybatis.mappper.CarrierMapper">
    <resultMap id="SharkFltTempResultMap" type="ctas.entity.SharkFltTemp">
        <id column="REC_ID" property="recId" jdbcType="DECIMAL"/>
        <result column="AWB_TYPE" property="awbType" jdbcType="VARCHAR"/>
        <result column="AWB_PRE" property="awbPre" jdbcType="VARCHAR"/>
        <result column="AWB_NO" property="awbNo" jdbcType="VARCHAR"/>
        <result column="PCS" property="pcs" jdbcType="DECIMAL"/>
        <result column="WEIGHT" property="weight" jdbcType="DECIMAL"/>
        <result column="CARRIER" property="carrier" jdbcType="VARCHAR"/>
        <result column="FLIGHT_NO" property="flightNo" jdbcType="VARCHAR"/>
        <result column="FLIGHT_DATE" property="flightDate" jdbcType="TIMESTAMP"/>
        <result column="ORIGIN" property="origin" jdbcType="VARCHAR"/>
        <result column="DEST" property="dest" jdbcType="VARCHAR"/>
        <result column="DI" property="di" jdbcType="CHAR"/>
        <result column="EI" property="ei" jdbcType="CHAR"/>
        <result column="PLANE_NO" property="planeNo" jdbcType="VARCHAR"/>
        <result column="FEE_WEIGHT" property="feeWeight" jdbcType="DECIMAL"/>
        <result column="TRAN_REMARK" property="tranRemark" jdbcType="CHAR"/>
        <result column="FLIGHT_TYPE" property="flightType" jdbcType="CHAR"/>
        <result column="AWB_ORIGIN" property="awbOrigin" jdbcType="VARCHAR"/>
        <result column="AWB_DEST" property="awbDest" jdbcType="VARCHAR"/>
        <result column="FDS_REC_ID" property="fdsRecId" jdbcType="DECIMAL"/>
        <result column="CUSTOM_CTL" property="customCtl" jdbcType="CHAR"/>
        <result column="AIRCRAFT_TYPE_ID" property="aircraftTypeId" jdbcType="VARCHAR"/>
        <result column="ALL_SPE_COPE_ID" property="allSpeCopeId" jdbcType="VARCHAR"/>
        <result column="CSG_CUSTOMER_SHORT_NM" property="csgCustomerShortNm" jdbcType="VARCHAR"/>
        <result column="FLT_DI" property="fltDi" jdbcType="CHAR"/>
        <result column="COMPANY_CODE" property="companyCode" jdbcType="VARCHAR"/>
    </resultMap>


    <resultMap id="FlightSummaryDtoResultMap" type="ctas.bill.calculator.dto.carrier.FlightSummaryDto">
        <result column="CARRIER" property="carrier" jdbcType="VARCHAR"/>
        <result column="FLIGHT_NO" property="flightNo" jdbcType="VARCHAR"/>
        <result column="FLIGHT_DATE" property="flightDate" jdbcType="TIMESTAMP"/>
        <result column="ORIGIN" property="origin" jdbcType="VARCHAR"/>
        <result column="DEST" property="dest" jdbcType="VARCHAR"/>
        <result column="PLANE_NO" property="planeNo" jdbcType="VARCHAR"/>
        <result column="PCS" property="pcs" jdbcType="DECIMAL"/>
        <result column="WEIGHT" property="weight" jdbcType="DECIMAL"/>
        <result column="FEE_WEIGHT" property="feeWeight" jdbcType="DECIMAL"/>
        <result column="DI" property="di" jdbcType="VARCHAR"/>
        <result column="EI" property="ei" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="FltPlaneNoResultMap" type="ctas.entity.FltPlaneNo">
        <id column="REC_ID" jdbcType="DECIMAL" property="recId"/>
        <result column="CARRIER" jdbcType="VARCHAR" property="carrier"/>
        <result column="SUB_COMPANY_ID" jdbcType="VARCHAR" property="subCompanyId"/>
        <result column="SUB_COMPANY_DSC" jdbcType="VARCHAR" property="subCompanyDsc"/>
        <result column="PLANE_NO" jdbcType="VARCHAR" property="planeNo"/>
        <result column="STAR_DATE" jdbcType="TIMESTAMP" property="starDate"/>
        <result column="END_DATE" jdbcType="TIMESTAMP" property="endDate"/>
        <result column="MONTH" jdbcType="DECIMAL" property="month"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
        <result column="CREATOR_ID" jdbcType="VARCHAR" property="creatorId"/>
        <result column="CREATOR_NAME" jdbcType="VARCHAR" property="creatorName"/>
        <result column="CREATOR_TIME" jdbcType="TIMESTAMP" property="creatorTime"/>
        <result column="PLANE_USE_MODE" jdbcType="VARCHAR" property="planeUseMode"/>
        <result column="COMPANY_CODE" jdbcType="VARCHAR" property="companyCode"/>
    </resultMap>

    <sql id="SharkFltTempColumnList">
    REC_ID, AWB_TYPE, AWB_PRE, AWB_NO, PCS, WEIGHT, CARRIER, FLIGHT_NO, FLIGHT_DATE,
    ORIGIN, DEST, DI, EI, PLANE_NO, FEE_WEIGHT, TRAN_REMARK, FLIGHT_TYPE, AWB_ORIGIN,
    AWB_DEST, FDS_REC_ID, CUSTOM_CTL, AIRCRAFT_TYPE_ID, ALL_SPE_COPE_ID, CSG_CUSTOMER_SHORT_NM,
    FLT_DI, COMPANY_CODE
  </sql>

    <sql id="FltPlaneNoColumnList">
        REC_ID, CARRIER, SUB_COMPANY_ID, SUB_COMPANY_DSC, PLANE_NO, STAR_DATE, END_DATE,
        MONTH, REMARK, CREATOR_ID, CREATOR_NAME, CREATOR_TIME, PLANE_USE_MODE, COMPANY_CODE
    </sql>

    <!--加载所有航空公司的飞机号-->
    <select id="getFltPlaneNos" parameterType="java.util.Map" resultMap="FltPlaneNoResultMap">
        select
        <include refid="FltPlaneNoColumnList"/>
        from CTAS_FLT_PLANE_NO
    </select>

    <!--调用存储过程，将本账期货量数据锁定-->
    <update id="lockSharkFlt" statementType="CALLABLE" parameterType="java.util.Map">
      {call P_CTAS_LOCK_SHARK_FLT(#{beginDate,jdbcType=TIMESTAMP,mode=IN},#{endDate,jdbcType=TIMESTAMP,mode=IN})}
    </update>

    <!--调用存储过程，从货量锁定表中将待计算数据取到临时表-->
    <update id="fillSharkTemp" statementType="CALLABLE" parameterType="java.util.Map">
        {call P_CTAS_FILL_SHARK_FLT_TEMP(#{beginDate,jdbcType=TIMESTAMP,mode=IN},#{endDate,jdbcType=TIMESTAMP,mode=IN})}
    </update>

    <!--备份上次计算结果-->
    <update id="backupCalcHistory" statementType="CALLABLE" parameterType="java.util.Map">
        {call P_CTAS_BACKUP_FLT_BILL(#{billNo,jdbcType=DECIMAL,mode=IN},#{feeCode,jdbcType=VARCHAR,mode=IN},#{calcNo,jdbcType=VARCHAR,mode=IN},#{carrier,jdbcType=VARCHAR,mode=IN})}
    </update>

    <!--各航班汇总界面的货量查询条件-->
    <sql id="loadSharkFlt4FlightNoSumWhere">
        <!--承运人-->
        <if test="carrier != null">
            AND A.CARRIER = #{carrier,jdbcType=VARCHAR}
        </if>
        <!--航班号-->
        <if test="flightNo != null">
            AND A.FLIGHT_NO = #{flightNo,jdbcType=VARCHAR}
        </if>
        <!--国际国内-->
        <if test="di != null">
            AND A.DI = #{di,jdbcType=VARCHAR}
        </if>
        <!--直达中转-->
        <if test="tranRemark != null">
            AND A.TRAN_REMARK = #{tranRemark,jdbcType=VARCHAR}
        </if>
        <!--始发站-->
        <if test="origin != null">
            AND A.ORIGIN = #{origin,jdbcType=VARCHAR}
        </if>
        <!--目的站-->
        <if test="dest != null">
            AND A.DEST = #{dest,jdbcType=VARCHAR}
        </if>
        <!--运单类型-->
        <if test="awbType != null">
            AND A.AWB_TYPE = #{awbType,jdbcType=VARCHAR}
        </if>
        <!--运单前缀-->
        <if test="awbPre != null">
            AND A.AWB_PRE = #{awbPre,jdbcType=VARCHAR}
        </if>
        <!--运单号-->
        <if test="awbNo != null">
            AND A.AWB_NO = #{awbNo,jdbcType=VARCHAR}
        </if>
        <!--进出港-->
        <if test="ei != null">
            AND A.EI = #{ei,jdbcType=VARCHAR}
        </if>
        <!--航班国际国内-->
        <if test="fltDi != null">
            AND A.FLT_DI = #{fltDI,jdbcType=VARCHAR}
        </if>
        <!--统计货包机-->
        <if test="flightType != null">
            AND A.FLIGHT_TYPE = #{flightType,jdbcType=VARCHAR}
        </if>
    </sql>

    <!--各航班汇总界面的货量合计sql-->
    <select id="loadSharkFlt4FlightNoSum" resultMap="FlightSummaryDtoResultMap" parameterType="java.util.Map">
        SELECT
        SUM(A.PCS) PCS,
        SUM(A.FEE_WEIGHT) FEE_WEIGHT,
        SUM(A.WEIGHT) WEIGHT
        FROM CTAS_SHARK_FLT A
        WHERE A.FLIGHT_DATE BETWEEN #{beginDate,jdbcType=TIMESTAMP} AND #{endDate,jdbcType=TIMESTAMP}
        <include refid="loadSharkFlt4FlightNoSumWhere"/>
    </select>

    <!--各航班汇总界面的货量查询sql-->
    <select id="loadSharkFlt4FlightNoSummary" resultMap="FlightSummaryDtoResultMap" parameterType="java.util.Map">
        SELECT
        A.CARRIER,
        A.FLIGHT_NO,
        A.FLIGHT_DATE,
        A.ORIGIN,
        A.DEST,
        A.PLANE_NO,
        A.DI,
        A.EI,
        SUM(A.PCS) PCS,
        SUM(A.FEE_WEIGHT) FEE_WEIGHT,
        SUM(A.WEIGHT) WEIGHT
        FROM CTAS_SHARK_FLT A
        WHERE A.FLIGHT_DATE BETWEEN #{beginDate,jdbcType=TIMESTAMP} AND #{endDate,jdbcType=TIMESTAMP}
        AND A.COMPANY_CODE=#{companyCode,jdbcType=VARCHAR}
        <include refid="loadSharkFlt4FlightNoSumWhere"/>
        GROUP BY A.CARRIER,
        A.FLIGHT_NO,
        A.FLIGHT_DATE,
        A.ORIGIN,
        A.DEST,
        A.PLANE_NO,
        A.DI,
        A.EI
        ORDER BY A.CARRIER,
        A.FLIGHT_NO,
        A.FLIGHT_DATE
    </select>

    <sql id="Excel_Condition_List">
        WHERE 
        <choose>
            <!--新航加上战略伙伴为其承运的货量-->
            <when test="carrier == 'SQ'">
                ((AWB_PRE = '618'  and  (A.CARRIER = 'CK' OR A.CARRIER = 'MU' OR A.CARRIER = 'FM')) or  A.CARRIER = #{carrier,jdbcType=VARCHAR})
            </when>
            <!--NH货量要算上浦东5X航班-->
            <when test="carrier == 'NH'">
                ((A.CARRIER = '5X' AND (A.ORIGIN = 'PVG' OR A.DEST = 'PVG')) or A.CARRIER = #{carrier,jdbcType=VARCHAR})
            </when>
            <otherwise>
                A.CARRIER = #{carrier,jdbcType=VARCHAR}
            </otherwise>
        </choose>
        AND A.FLIGHT_DATE BETWEEN #{beginDate,jdbcType=TIMESTAMP} AND #{endDate,jdbcType=TIMESTAMP}
        AND A.DI = #{di,jdbcType=VARCHAR}
        AND A.EI = #{ei,jdbcType=VARCHAR}
        AND A.COMPANY_CODE = #{companyCode,jdbcType=VARCHAR}
        <if test="flightNo != null and '' != flightNo">
            AND A.FLIGHT_NO = #{flightNo,jdbcType=VARCHAR}
        </if>
        <if test="origin != null and '' != origin">
            AND A.ORIGIN = #{origin,jdbcType=VARCHAR}
        </if>
        <if test="dest != null and '' != dest">
            AND A.DEST = #{dest,jdbcType=VARCHAR}
        </if>
        <if test="tranRemark != null and '' != tranRemark">
            AND A.TRAN_REMARK = #{tranRemark,jdbcType=VARCHAR}
        </if>
        <if test="di == 'I'.toString() and ei == 'I'.toString() and carrier == 'HO'">
            AND A.FLIGHT_TYPE != 'D'
        </if>
        <if test="stockTypeId != null and '' != stockTypeId">
            <choose>
                <when test="stockTypeId == 'AWBM'">
                    AND A.AWB_TYPE = #{stockTypeId,jdbcType=VARCHAR}
                </when>
                <otherwise>
                    AND A.AWB_TYPE != 'AWBM'
                </otherwise>
            </choose>
        </if>
        <if test="liFlagf != null and '' != liFlagf">
            <choose>
                <when test="liFlagf == 'D'.toString()">
                    AND F_CTAS_BAS_GET_AIRPORTDOMINT(A.ORIGIN)= #{liFlagf,jdbcType=VARCHAR} AND F_CTAS_BAS_GET_AIRPORTDOMINT(A.DEST)=  #{liFlagf,jdbcType=VARCHAR}
                </when>
                <otherwise>
                    AND (F_CTAS_BAS_GET_AIRPORTDOMINT(A.ORIGIN)= #{liFlagf,jdbcType=VARCHAR} OR F_CTAS_BAS_GET_AIRPORTDOMINT(A.DEST)=  #{liFlagf,jdbcType=VARCHAR})
                </otherwise>
            </choose>
        </if>
    </sql>
    <sql id="sqlFltForExcel">
        SELECT A.CARRIER,
        A.FLIGHT_NO as FlightNo,
        FLIGHT_DATE as FlightDate,
        A.ORIGIN,
        A.DEST,
        <choose>
            <when test="searchType == 'detail'">
                A.AWB_PRE || '-' || A.AWB_NO as AwbNo,
                NVL(A.PCS, 0) PCS,
                ROUND(NVL(A.WEIGHT, 0), 2) WEIGHT,
                ROUND(NVL(A.FEE_WEIGHT, 0), 2) feeWeight,
                USEMODE_DSC,
                DECODE(TRAN_REMARK, 'T', '中转', 'D', '直达', 'ALL', '适用全部') as tranRemark,
                A.REMARK,
            </when>
            <otherwise>
                SUM(NVL(A.PCS, 0)) PCS,
                round(SUM(NVL(A.WEIGHT, 0)), 2) WEIGHT,
                round(SUM(NVL(A.FEE_WEIGHT, 0)), 2) as feeWeight,
            </otherwise>
        </choose>
        A.EI as EI,
        DECODE(A.EI, 'E', '出港', 'I', '进港') as eiCn,
        A.DI as DI,
        DECODE(A.DI, 'D', '国内', 'I', '国际', 'C', '国内海关监管', 'A', '纯国际', 'ALL', '适用全部') as diCn,
        A.PLANE_NO as PLANENO,
        #{feeType,jdbcType=VARCHAR} as feeType
        FROM CTAS_SHARK_FLT_LOCK A
        <if test="searchType == 'detail'">
            LEFT JOIN V_CTAS_FLT_AIRCRAFTTYPE_GEN B ON  A.AIRCRAFT_TYPE_ID = B.AIRCRAFTTYPEID
        </if>
        <include refid="Excel_Condition_List"></include>
        <if test="searchType != 'detail'">
        GROUP BY A.CARRIER,
        A.FLIGHT_NO,
        A.FLIGHT_DATE,
        A.PLANE_NO,
        A.DEST,
        A.ORIGIN || '-' || A.DEST,
        A.ORIGIN,
        A.EI,A.DI
        </if>
        ORDER BY A.CARRIER, FLIGHTNO, FLIGHT_DATE
    </sql>
    <select id="loadSharkFlt4FlightNoExport" resultType="ctas.bill.calculator.dto.carrier.FlightSummaryDto"
            parameterType="java.util.Map">
        SELECT rownum , t.*
        FROM (<include refid="sqlFltForExcel"></include>) t
    </select>
    <select id="loadSharkFlt4FlightNoExportSum" resultMap="FlightSummaryDtoResultMap" parameterType="java.util.Map">
        SELECT
        SUM(A.PCS) PCS,
        SUM(A.FEE_WEIGHT) FEE_WEIGHT,
        SUM(A.WEIGHT) WEIGHT
        FROM CTAS_SHARK_FLT_LOCK A
        <if test="searchType == 'detail'">
          LEFT JOIN V_CTAS_FLT_AIRCRAFTTYPE_GEN B ON  A.AIRCRAFT_TYPE_ID = B.AIRCRAFTTYPEID
        </if>
        <include refid="Excel_Condition_List"/>
    </select>

    <!--加载承运人货量数据-->
    <select id="loadSharkFlt" resultMap="SharkFltTempResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="SharkFltTempColumnList"/>
        FROM CTAS_SHARK_FLT_TEMP A
        <if test="carriers != null">
            WHERE EXISTS (select 1
            from CTAS_BAS_DIC t
            WHERE T.DIC_TYPE = 'CARRIER'
            and T.DIC_KEY in
            <foreach item="item" index="index" collection="carriers"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
            AND A.CARRIER = T.DIC_KEY)
        </if>
        ORDER BY A.CARRIER
    </select>

    <!--加载费用规则-->
    <select id="loadFeeRules" parameterType="java.util.Map" resultType="ctas.bill.calculator.dto.carrier.FeeRuleDto">
        select a.company_code companyCode,
        a.rec_id agreeRecId,
        a.agreement_start_date agreementBeginDate,
        a.agreement_end_date agreementEndDate,
        a.carrier_code carrierCode,
        a.carrier_name carrierName,
        r.rec_id fltRateRecId,
        r.di di,
        r.trains_flag trainsFlag,
        r.trains_type trainsType,
        r.ei ei,
        r.cargo_mail_flag cargoMailFlag,
        r.airport airport,
        r.remark remark,
        r.rate_type rateType,
        r.rate rate,
        r.fee_dsc feeDsc,
        r.fee_type feeType,
        r.fee_rule_dsc feeRuleDsc,
        r.flt_mode fltMode,
        d.rec_id fltRateDetailRecId,
        d.min_weight minWeight,
        d.max_weight maxWeight,
        d.rate fltDetailRate
        from ctas_agree a
        join ctas_flt_rate r
        on a.rec_id = r.fk_agree_id
        left join ctas_flt_rate_detail d
        on r.rec_id = d.fk_flt_rate_id
        <where>
            <if test="carriers != null">
                a.carrier_code in
                <foreach item="item" index="index" collection="carriers"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by a.carrier_code, r.fee_type, r.rec_id, d.min_weight
    </select>

    <!--加载调整明细-->
    <select id="loadFltAdjustDtos" parameterType="java.util.Map"
            resultType="ctas.bill.calculator.dto.carrier.FltAdjustDto">
        select a.rec_id recId,
        a.company_code companyCode,
        a.carrier carrier,
        a.fee fee,
        a.fee_code feeCode,
        a.bill_no billNo,
        a.effective_bill_no effectiveBillNo,
        a.if_deduct_weight ifDeductWeight,
        d.rec_id detailRecId,
        d.flight_no flightNo,
        d.flight_date flightDate,
        d.fee_code detailFeeCode,
        d.fee detailFee
        from ctas_flt_adjust a
        left join ctas_flt_adjust_detail d
        on a.rec_id = d.base_rec_id
        <where>
            <if test="billNo != null">
                a.bill_no = #{billNo,jdbcType=DECIMAL}
            </if>
            <if test="effectiveBillNo != null">
                a.effective_bill_no = #{effectiveBillNo,jdbcType=DECIMAL}
            </if>
        </where>
    </select>

    <!--保存承运人开账计算结果-->
    <insert id="insertFltBill" parameterType="ctas.entity.FltBill">
        <selectKey keyProperty="recId" order="BEFORE" resultType="Long">
            select SEQ_CTAS_FLT_BILL.nextval as recId from dual
        </selectKey>
        insert into CTAS_FLT_BILL (REC_ID, CARRIER, CARRIER_DSC,
        FK_FLT_RATE_ID, FEE_RULE_DSC, FEE_TYPE,
        FEE_DSC, EI, DI, CARGO_MAIL_FLAG,
        TRAINS_FLAG, AIRPORT, OPE_STATION,
        TOTAL_WT, RATE, FEE,
        VAT, BILL_NO, BILL_DATE,
        REMARK, IMP_WT, EXP_WT,
        CREATE_OPE, CREATE_NAME, CREATE_TIME,
        TRAINS_TYPE, FLT_MODE, COMPANY_CODE
        )
        values (#{recId,jdbcType=DECIMAL}, #{carrier,jdbcType=VARCHAR},
        #{carrierDsc,jdbcType=VARCHAR},
        #{fkFltRateId,jdbcType=DECIMAL}, #{feeRuleDsc,jdbcType=VARCHAR}, #{feeType,jdbcType=VARCHAR},
        #{feeDsc,jdbcType=VARCHAR}, #{ei,jdbcType=VARCHAR},
        #{di,jdbcType=VARCHAR}, #{cargoMailFlag,jdbcType=VARCHAR},
        #{trainsFlag,jdbcType=VARCHAR}, #{airport,jdbcType=VARCHAR},
        #{opeStation,jdbcType=VARCHAR},
        #{totalWt,jdbcType=DECIMAL}, #{rate,jdbcType=DECIMAL}, #{fee,jdbcType=DECIMAL},
        #{vat,jdbcType=DECIMAL}, #{billNo,jdbcType=VARCHAR},
        #{billDate,jdbcType=DECIMAL},
        #{remark,jdbcType=VARCHAR}, #{impWt,jdbcType=DECIMAL}, #{expWt,jdbcType=DECIMAL},
        #{createOpe,jdbcType=VARCHAR}, #{createName,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP},
        #{trainsType,jdbcType=VARCHAR}, #{fltMode,jdbcType=VARCHAR}, #{companyCode,jdbcType=VARCHAR}
        )
    </insert>

</mapper>