<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="ctas.web.mybatis.mapper.FeeBupMapper">
	<resultMap id="FeeBupResultDto" type="ctas.web.dto.sharkdetail.agt.FeeAgtDetailDto">
		<!--CTAS_FEE_BASE部分-->
		<id column="REC_ID" property="recId" jdbcType="DECIMAL"/>
		<result column="AWB_PRE" property="awbPre" jdbcType="VARCHAR"/>
		<result column="AWB_NO" property="awbNo" jdbcType="VARCHAR"/>
		<result column="AWB_NUMBER" property="awbNumber" jdbcType="VARCHAR"/>
		<result column="AGENT_CODE" property="agentCode" jdbcType="VARCHAR"/>
		<result column="FLIGHT_NO" property="flightNo" jdbcType="VARCHAR"/>
		<result column="WEIGHT" property="weight" jdbcType="DECIMAL"/>
		<result column="FEE" property="fee" jdbcType="DECIMAL"/>
		<result column="OCCR_TIME" property="occrTime" jdbcType="TIMESTAMP"/>
		<result column="BILL_NO" property="billNo" jdbcType="DECIMAL"/>
		<result column="CREATOR" property="creator" jdbcType="VARCHAR"/>
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="FEE_DIC_KEY" property="feeDicKey" jdbcType="VARCHAR"/>
		<result column="COMPANY_CODE" property="companyCode" jdbcType="VARCHAR"/>
		<result column="DI" property="di" jdbcType="VARCHAR"/>
		<result column="EI" property="ei" jdbcType="VARCHAR"/>
		<result column="CARGO_MAIL_FLAG" property="cargoMailFlag" jdbcType="VARCHAR"/>
		<result column="OPE_STATION" property="opeStation" jdbcType="VARCHAR"/>

		<!--CTAS_FEE_BUP部分-->
		<result column="BASE_REC_ID" property="baseRecId" jdbcType="DECIMAL" />
		<result column="CARRIER" property="carrier" jdbcType="VARCHAR" />
		<result column="ULD_TYPE" property="uldType" jdbcType="VARCHAR" />
		<result column="ULD_NO" property="uldNo" jdbcType="VARCHAR" />
		<result column="ULD_ORG" property="uldOrg" jdbcType="VARCHAR" />
		<result column="DEPOT" property="depot" jdbcType="VARCHAR" />
		<result column="COMPANY_CODE" property="companyCode" jdbcType="VARCHAR" />

	</resultMap>
	<!--整板箱明细查询sql-->
	<select id="queryFeeBupDtos" resultMap="FeeBupResultDto" parameterType="java.util.Map">
		select b.agent_code as agtCode,
		b.carrier||b.flight_no as flightNo,
		bp.uld_type as uldType,
		bp.uld_no as uldNo,
		bp.uld_org as uldOrg,
		b.weight,
		b.occr_time as occrTime,
		b.fee,
		bp.depot as opestation
		from ctas_fee_base b, ctas_fee_bup bp
		where b.rec_id = bp.base_rec_id
		and b.fee_dic_key = #{feeDicKey,jdbcType=VARCHAR}
		AND bp.COMPANY_CODE=#{companyCode,jdbcType=VARCHAR}
		<if test="carrier != null">
			AND b.carrier = #{carrier,jdbcType=VARCHAR}
		</if>
		<if test="flightNo!=null">
			and b.flight_no=#{flightNo,jdbcType=VARCHAR}
		</if>
		<if test="uldType != null">
			AND bp.uld_type = #{uldType,jdbcType=VARCHAR}
		</if>
		<if test="uldNo != null">
			AND bp.uld_no = #{uldNo,jdbcType=VARCHAR}
		</if>
		<if test="uldOrg != null">
			AND bp.uld_org = #{uldOrg,jdbcType=VARCHAR}
		</if>
		<if test="agentCode != null">
			AND b.agent_code = #{agentCode,jdbcType=VARCHAR}
		</if>
		<if test="opestation != null">
			AND bp.depot = #{opestation,jdbcType=VARCHAR}
		</if>
		<if test="eDate!=null">
			and b.occr_time <![CDATA[<]]> = #{eDate,jdbcType=TIMESTAMP}
		</if>
		<if test="sDate!=null">
			and b.occr_time >= #{sDate,jdbcType=TIMESTAMP}
		</if>
		<if test="billNo!=null">
			and b.bill_no=#{billNo,jdbcType=DECIMAL}
		</if>
		order by b.occr_time
	</select>

	<!--整板箱明细 总计 查询sql-->
	<select id="queryBupTotal" resultMap="FeeBupResultDto" parameterType="java.util.Map">
		select
		sum(b.weight) as weight
		from ctas_fee_base b, ctas_fee_bup bp
		where b.rec_id = bp.base_rec_id
		and b.fee_dic_key = #{feeDicKey,jdbcType=VARCHAR}
		AND bp.COMPANY_CODE=#{companyCode,jdbcType=VARCHAR}
		<if test="carrier != null">
			AND b.carrier = #{carrier,jdbcType=VARCHAR}
		</if>
		<if test="flightNo!=null">
			and b.flight_no=#{flightNo,jdbcType=VARCHAR}
		</if>
		<if test="uldType != null">
			AND bp.uld_type = #{uldType,jdbcType=VARCHAR}
		</if>
		<if test="uldNo != null">
			AND bp.uld_no = #{uldNo,jdbcType=VARCHAR}
		</if>
		<if test="uldOrg != null">
			AND bp.uld_org = #{uldOrg,jdbcType=VARCHAR}
		</if>
		<if test="agentCode != null">
			AND b.agent_code = #{agentCode,jdbcType=VARCHAR}
		</if>
		<if test="opestation != null">
			AND bp.depot = #{opestation,jdbcType=VARCHAR}
		</if>
		<if test="eDate!=null">
			and b.occr_time <![CDATA[<]]> = #{eDate,jdbcType=TIMESTAMP}
		</if>
		<if test="sDate!=null">
			and b.occr_time >= #{sDate,jdbcType=TIMESTAMP}
		</if>
		<if test="billNo!=null">
			and b.bill_no=#{billNo,jdbcType=DECIMAL}
		</if>
	</select>

</mapper>