<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ctas.web.mybatis.mapper.FeeLightrateMapper">
    <resultMap id="FeeLightrateResultDto" type="ctas.web.dto.sharkdetail.agt.FeeAgtDetailDto">
        <!--CTAS_FEE_BASE部分-->
        <id column="REC_ID" property="recId" jdbcType="DECIMAL"/>
        <result column="AWB_PRE" property="awbPre" jdbcType="VARCHAR"/>
        <result column="AWB_NO" property="awbNo" jdbcType="VARCHAR"/>
        <result column="AWB_NUMBER" property="awbNumber" jdbcType="VARCHAR"/>
        <result column="AGENT_CODE" property="agentCode" jdbcType="VARCHAR"/>
        <result column="FLIGHT_NO" property="flightNo" jdbcType="VARCHAR"/>
        <result column="WEIGHT" property="weight" jdbcType="DECIMAL"/>
        <result column="FEE" property="fee" jdbcType="DECIMAL"/>
        <result column="OCCR_TIME" property="occrTime" jdbcType="TIMESTAMP"/>
        <result column="BILL_NO" property="billNo" jdbcType="DECIMAL"/>
        <result column="CREATOR" property="creator" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="FEE_DIC_KEY" property="feeDicKey" jdbcType="VARCHAR"/>
        <result column="COMPANY_CODE" property="companyCode" jdbcType="VARCHAR"/>
        <result column="DI" property="di" jdbcType="VARCHAR"/>
        <result column="EI" property="ei" jdbcType="VARCHAR"/>
        <result column="CARGO_MAIL_FLAG" property="cargoMailFlag" jdbcType="VARCHAR"/>
        <result column="OPE_STATION" property="opeStation" jdbcType="VARCHAR"/>

        <!--CTAS_FEE_LIGHTRATE部分-->
        <result column="BASE_REC_ID" property="baseRecId" jdbcType="DECIMAL"/>
        <result column="EI" property="ei" jdbcType="VARCHAR"/>
        <result column="LIGHTERAGE_NO" property="lighterageNo"
                jdbcType="VARCHAR"/>
        <result column="LIGHTERAGE_SEQ" property="lighterageSeq"
                jdbcType="VARCHAR"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
        <result column="COMPANY_CODE" property="companyCode" jdbcType="VARCHAR"/>

    </resultMap>
    <!--短驳明细查询sql-->
    <select id="queryFeeLightrateDtos" resultMap="FeeLightrateResultDto" parameterType="java.util.Map">
        select b.agent_code as agtCode,
        l.ei,
        l.lighterage_no as lightrateNo,
        b.flight_no as flightNo,
        b.occr_time as occrTime,
        l.lighterage_seq as lightrateSeq,
        b.fee,
        to_date(b.bill_no,'yyyy-MM') as billDate
        from ctas_fee_base b,ctas_fee_lightrate l
        where b.rec_id=l.base_rec_id
        and b.fee_dic_key = #{feeDicKey,jdbcType=VARCHAR}
        AND l.COMPANY_CODE=#{companyCode,jdbcType=VARCHAR}
        <if test="billNo!=null">
            and b.bill_no=#{billNo,jdbcType=DECIMAL}
        </if>

        <if test="agentCode != null">
            AND b.agent_code = #{agentCode,jdbcType=VARCHAR}
        </if>

        <if test="ei != null">
            AND l.EI = #{ei,jdbcType=VARCHAR}
        </if>

        <if test="eDate!=null">
            and b.occr_time <![CDATA[<]]> = #{eDate,jdbcType=TIMESTAMP}
        </if>

        <if test="sDate!=null">
            and b.occr_time >= #{sDate,jdbcType=TIMESTAMP}
        </if>

        <if test="flightNo!=null">
            and b.flight_no=#{flightNo,jdbcType=VARCHAR}
        </if>

        <if test="lightrateSeq!=null">
            and l.lighterage_seq=#{lightrateSeq,jdbcType=VARCHAR}
        </if>

        order by b.occr_time
    </select>

    <!--短驳明细 总计 查询sql-->
    <select id="queryLightrateTotal" resultMap="FeeLightrateResultDto" parameterType="java.util.Map">

        select sum(b.fee) as fee
        from ctas_fee_base b,ctas_fee_lightrate l
        where b.rec_id=l.base_rec_id
        and b.fee_dic_key = #{feeDicKey,jdbcType=VARCHAR}
        AND l.COMPANY_CODE=#{companyCode,jdbcType=VARCHAR}
        <if test="billNo!=null">
            and b.bill_no=#{billNo,jdbcType=DECIMAL}
        </if>

        <if test="agentCode != null">
            AND b.agent_code = #{agentCode,jdbcType=VARCHAR}
        </if>

        <if test="ei != null">
            AND l.EI = #{ei,jdbcType=VARCHAR}
        </if>

        <if test="eDate!=null">
            and b.occr_time <![CDATA[<]]> = #{eDate,jdbcType=TIMESTAMP}
        </if>

        <if test="sDate!=null">
            and b.occr_time >= #{sDate,jdbcType=TIMESTAMP}
        </if>

        <if test="flightNo!=null">
            and b.flight_no=#{flightNo,jdbcType=VARCHAR}
        </if>
        order by b.occr_time
    </select>
</mapper>