<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ctas.web.mybatis.mapper.FeePackMapper">

    <resultMap id="FeePackResultDto" type="ctas.web.dto.sharkdetail.agt.FeeAgtDetailDto">

        <!--CTAS_FEE_BASE部分-->
        <id column="REC_ID" property="recId" jdbcType="DECIMAL"/>
        <result column="AWB_PRE" property="awbPre" jdbcType="VARCHAR"/>
        <result column="AWB_NO" property="awbNo" jdbcType="VARCHAR"/>
        <result column="AWB_NUMBER" property="awbNumber" jdbcType="VARCHAR"/>
        <result column="AGENT_CODE" property="agentCode" jdbcType="VARCHAR"/>
        <result column="FLIGHT_NO" property="flightNo" jdbcType="VARCHAR"/>
        <result column="WEIGHT" property="weight" jdbcType="DECIMAL"/>
        <result column="FEE" property="fee" jdbcType="DECIMAL"/>
        <result column="OCCR_TIME" property="occrTime" jdbcType="TIMESTAMP"/>
        <result column="BILL_NO" property="billNo" jdbcType="DECIMAL"/>
        <result column="CREATOR" property="creator" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="FEE_DIC_KEY" property="feeDicKey" jdbcType="VARCHAR"/>
        <result column="COMPANY_CODE" property="companyCode" jdbcType="VARCHAR"/>
        <result column="DI" property="di" jdbcType="VARCHAR"/>
        <result column="EI" property="ei" jdbcType="VARCHAR"/>
        <result column="CARGO_MAIL_FLAG" property="cargoMailFlag" jdbcType="VARCHAR"/>
        <result column="OPE_STATION" property="opeStation" jdbcType="VARCHAR"/>

        <!--CTAS_FEE_PACK部分-->
        <result column="BASE_REC_ID" property="baseRecId" jdbcType="DECIMAL"/>
        <result column="OPESTATION" property="opestation" jdbcType="VARCHAR"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
        <result column="COMPANY_CODE" property="companyCode" jdbcType="VARCHAR"/>

    </resultMap>
    <!--打板箱明细查询sql-->
    <select id="queryFeePackDtos" resultMap="FeePackResultDto" parameterType="java.util.Map">
        select b.agent_code as agtCode,
        b.awb_number as awbNumber,
        b.flight_no as flightNo,
        b.occr_time as occrTime,
        b.weight,
        b.fee,
        p.opestation
        from ctas_fee_base b, ctas_fee_pack p
        where b.rec_id = p.base_rec_id
        and b.fee_dic_key = #{feeDicKey,jdbcType=VARCHAR}
        AND p.COMPANY_CODE=#{companyCode,jdbcType=VARCHAR}
        <if test="billNo!=null">
            and b.bill_no=#{billNo,jdbcType=DECIMAL}
        </if>
        <if test="agentCode != null">
            AND b.agent_code = #{agentCode,jdbcType=VARCHAR}
        </if>
        <if test="awbFullNo != null">
            AND b.awb_number = #{awbFullNo,jdbcType=VARCHAR}
        </if>
        <if test="opestation!=null">
            and p.opestation=#{opestation,jdbcType=VARCHAR}
        </if>
        <if test="flightNo!=null">
            and b.flight_no=#{flightNo,jdbcType=VARCHAR}
        </if>
        order by b.occr_time
    </select>

    <!--仓储明细 总计 查询sql-->
    <select id="queryPackTotal" resultMap="FeePackResultDto" parameterType="java.util.Map">
        select
        sum(b.weight) as weight,
        sum(b.fee) as fee
        from ctas_fee_base b, ctas_fee_pack p
        where b.rec_id = p.base_rec_id
        and b.fee_dic_key = #{feeDicKey,jdbcType=VARCHAR}
        AND p.COMPANY_CODE=#{companyCode,jdbcType=VARCHAR}
        <if test="billNo!=null">
            and b.bill_no=#{billNo,jdbcType=DECIMAL}
        </if>
        <if test="agentCode != null">
            AND b.agent_code = #{agentCode,jdbcType=VARCHAR}
        </if>
        <if test="awbFullNo != null">
            AND b.awb_number = #{awbFullNo,jdbcType=VARCHAR}
        </if>
        <if test="opestation!=null">
            and p.opestation=#{opestation,jdbcType=VARCHAR}
        </if>
        <if test="flightNo!=null">
            and b.flight_no=#{flightNo,jdbcType=VARCHAR}
        </if>
    </select>
</mapper>