<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ctas.web.mybatis.mapper.FeeReturnMapper">
    <resultMap id="FltReturnDtoResultMap" type="ctas.web.dto.sharkdetail.agt.FeeReturnDto">
        <!--CTAS_FEE_BASE部分-->
        <id column="REC_ID" property="recId" jdbcType="DECIMAL"/>
        <result column="AWB_PRE" property="awbPre" jdbcType="VARCHAR"/>
        <result column="AWB_NO" property="awbNo" jdbcType="VARCHAR"/>
        <result column="AWB_NUMBER" property="awbNumber" jdbcType="VARCHAR"/>
        <result column="AGENT_CODE" property="agentCode" jdbcType="VARCHAR"/>
        <result column="FLIGHT_NO" property="flightNo" jdbcType="VARCHAR"/>
        <result column="WEIGHT" property="weight" jdbcType="DECIMAL"/>
        <result column="FEE" property="fee" jdbcType="DECIMAL"/>
        <result column="OCCR_TIME" property="occrTime" jdbcType="TIMESTAMP"/>
        <result column="BILL_NO" property="billNo" jdbcType="DECIMAL"/>
        <result column="CREATOR" property="creator" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="FEE_DIC_KEY" property="feeDicKey" jdbcType="VARCHAR"/>
        <result column="COMPANY_CODE" property="companyCode" jdbcType="VARCHAR"/>
        <result column="DI" property="di" jdbcType="VARCHAR"/>
        <result column="EI" property="ei" jdbcType="VARCHAR"/>
        <result column="CARGO_MAIL_FLAG" property="cargoMailFlag" jdbcType="VARCHAR"/>
        <result column="OPE_STATION" property="opeStation" jdbcType="VARCHAR"/>

        <!--CTAS_FEE_RETURN部分-->
        <result column="BASE_REC_ID" property="baseRecId" jdbcType="DECIMAL"/>
        <result column="BILL_ID" property="billId" jdbcType="VARCHAR"/>
        <result column="AWB_TYPE" property="awbType" jdbcType="VARCHAR"/>
        <result column="CARGO_NM" property="cargoNm" jdbcType="VARCHAR"/>
        <result column="PCS" property="pcs" jdbcType="DECIMAL"/>
        <result column="RETURN_MAN" property="returnMan" jdbcType="VARCHAR"/>
        <result column="RETURN_DATE" property="returnDate" jdbcType="TIMESTAMP"/>
        <result column="LOCAL_FLAG" property="localFlag" jdbcType="CHAR"/>
        <result column="AWB_OR_CARGO" property="awbOrCargo" jdbcType="CHAR"/>
        <result column="OPE_MAN" property="opeMan" jdbcType="VARCHAR"/>
        <result column="OPE_DEPART_ID" property="opeDepartId" jdbcType="VARCHAR"/>
        <result column="OPE_DATE" property="opeDate" jdbcType="TIMESTAMP"/>
        <result column="CANCELED" property="canceled" jdbcType="CHAR"/>
        <result column="CAN_MAN" property="canMan" jdbcType="VARCHAR"/>
        <result column="CAN_DEPART_ID" property="canDepartId" jdbcType="VARCHAR"/>
        <result column="CAN_DATE" property="canDate" jdbcType="TIMESTAMP"/>
        <result column="NOTICE_NO" property="noticeNo" jdbcType="VARCHAR"/>
        <result column="RETURN_CHE" property="returnChe" jdbcType="DECIMAL"/>
        <result column="RETURN_BAN" property="returnBan" jdbcType="DECIMAL"/>
        <result column="RETURN_XIANG" property="returnXiang" jdbcType="DECIMAL"/>
        <result column="RETURN_REASON" property="returnReason" jdbcType="VARCHAR"/>
        <result column="CAN_MAN_CARDID" property="canManCardid" jdbcType="VARCHAR"/>
        <result column="SHIPPER" property="shipper" jdbcType="VARCHAR"/>
        <result column="AWB_PCS" property="awbPcs" jdbcType="DECIMAL"/>
        <result column="AWB_WEIGHT" property="awbWeight" jdbcType="DECIMAL"/>
        <result column="AWB_ORIGIN" property="awbOrigin" jdbcType="VARCHAR"/>
        <result column="AWB_DEST" property="awbDest" jdbcType="VARCHAR"/>
        <result column="AWB_ISSUING_AGENT" property="awbIssuingAgent" jdbcType="VARCHAR"/>
        <result column="AWB_HANDLING_AGENT" property="awbHandlingAgent" jdbcType="VARCHAR"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
        <result column="LOCAL_FLAG_CN" property="localFlagCn" jdbcType="VARCHAR"/>
        <result column="LOCAL_FLAG_EN" property="localFlagEn" jdbcType="VARCHAR"/>
        <result column="CITY_ID" property="cityId" jdbcType="VARCHAR"/>
        <result column="AWB_OR_CARGO_CN" property="awbOrCargoCn" jdbcType="VARCHAR"/>
        <result column="AWB_OR_CARGO_EN" property="awbOrCargoEn" jdbcType="VARCHAR"/>

    </resultMap>


    <!--退货明细查询sql-->
    <select id="queryReturnDtos" resultMap="FltReturnDtoResultMap" parameterType="java.util.Map">
        SELECT B.AWB_PRE,
        B.AWB_NO,
        B.AWB_NUMBER,
        B.AGENT_CODE,
        B.FLIGHT_NO,
        B.WEIGHT,
        B.FEE,
        B.OCCR_TIME,
        B.BILL_NO,
        B.DI,
        R.AWB_TYPE,
        R.CARGO_NM,
        R.PCS,
        R.RETURN_MAN,
        R.RETURN_DATE,
        R.LOCAL_FLAG,
        R.AWB_OR_CARGO,
        R.OPE_MAN,
        R.OPE_DEPART_ID,
        R.OPE_DATE,
        R.CANCELED,
        R.CAN_MAN,
        R.CAN_DEPART_ID,
        R.CAN_DATE,
        R.NOTICE_NO,
        R.RETURN_CHE,
        R.RETURN_BAN,
        R.RETURN_XIANG,
        R.RETURN_REASON,
        R.CAN_MAN_CARDID,
        R.SHIPPER,
        R.AWB_PCS,
        R.AWB_WEIGHT,
        R.AWB_ORIGIN,
        R.AWB_DEST,
        R.AWB_ISSUING_AGENT,
        R.AWB_HANDLING_AGENT,
        R.REMARK,
        R.LOCAL_FLAG_CN,
        R.LOCAL_FLAG_EN,
        R.CITY_ID,
        R.AWB_OR_CARGO_CN,
        R.AWB_OR_CARGO_EN,
        R.REC_ID,
        R.BASE_REC_ID
        FROM CTAS_FEE_BASE B
        INNER JOIN CTAS_FEE_RETURN R
        ON B.REC_ID = R.BASE_REC_ID
        WHERE
        R.COMPANY_CODE=#{companyCode,jdbcType=VARCHAR} AND
        R.CITY_ID='SHA' AND
        R.OPE_DATE BETWEEN #{beginOperateDate,jdbcType=TIMESTAMP} AND #{endOperateDate,jdbcType=TIMESTAMP}
        AND R.RETURN_DATE BETWEEN #{beginReturnDate,jdbcType=TIMESTAMP} AND #{endReturnDate,jdbcType=TIMESTAMP}
        <if test="issuingAgent != null">
            AND R.AWB_ISSUING_AGENT = #{issuingAgent,jdbcType=VARCHAR}
        </if>
        <if test="origin != null">
            AND R.AWB_ORIGIN = #{origin,jdbcType=VARCHAR}
        </if>
        <if test="awbType != null">
            AND R.AWB_TYPE = #{awbType,jdbcType=VARCHAR}
        </if>
        <if test="awbPre != null">
            AND B.AWB_PRE = #{awbPre,jdbcType=VARCHAR}
        </if>
        <if test="awbNo != null">
            AND B.AWB_NO = #{awbNo,jdbcType=VARCHAR}
        </if>
        <if test="handlingAgent != null">
            AND R.AWB_HANDLING_AGENT = #{handlingAgent,jdbcType=VARCHAR}
        </if>
        <if test="isCancel != null">
            AND R.CANCELED = #{isCancel,jdbcType=VARCHAR}
        </if>
        <if test="di != null">
            AND B.DI = #{di,jdbcType=VARCHAR}
        </if>
        ORDER BY R.OPE_DATE ASC
    </select>

</mapper>