<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ctas.web.mybatis.mapper.FeeTypeMapper">

    <cache flushInterval="600000" readOnly="true" size="1024"/>

    <resultMap id="BaseResultMap" type="ctas.entity.FeeType">
        <id column="REC_ID" property="recId" jdbcType="DECIMAL"/>
        <result column="FEE_SUIT_TYPE" property="feeSuitType" jdbcType="CHAR"/>
        <result column="FEE_TYPE" property="feeType" jdbcType="VARCHAR"/>
        <result column="FEE_DSC" property="feeDsc" jdbcType="VARCHAR"/>
        <result column="FEE_EG_DSC" property="feeEgDsc" jdbcType="VARCHAR"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
        <result column="CREATE_OPE" property="createOpe" jdbcType="VARCHAR"/>
        <result column="CREATE_NAME" property="createName" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="COMPANY_CODE" property="companyCode" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getAllFeeType" resultMap="BaseResultMap"
            parameterType="java.util.Map">
		select * from CTAS_FEE_TYPE t where
		t.COMPANY_CODE=#{companyCode,jdbcType=VARCHAR} and
		t.FEE_SUIT_TYPE=#{feeSuitType,jdbcType=VARCHAR}
	</select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from CTAS_FEE_TYPE
        where REC_ID = #{recId,jdbcType=DECIMAL}
    </delete>
    <insert id="insert" parameterType="ctas.entity.FeeType">
        <selectKey keyProperty="recId" order="BEFORE" resultType="Long">
            select SEQ_CTAS_FEE_TYPE.nextval as recId from dual
        </selectKey>
        insert into CTAS_FEE_TYPE (REC_ID, FEE_SUIT_TYPE, FEE_TYPE,
        FEE_DSC, FEE_EG_DSC, REMARK, CREATE_OPE,CREATE_NAME,
        CREATE_TIME, COMPANY_CODE)
        values (#{recId,jdbcType=DECIMAL}, #{feeSuitType,jdbcType=CHAR}, #{feeType,jdbcType=VARCHAR},
        #{feeDsc,jdbcType=VARCHAR}, #{feeEgDsc,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
        #{createOpe,jdbcType=VARCHAR}, #{createName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
        #{companyCode,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="ctas.entity.FeeType">
        update CTAS_FEE_TYPE
        set FEE_SUIT_TYPE = #{feeSuitType,jdbcType=VARCHAR},
        FEE_TYPE = #{feeType,jdbcType=VARCHAR},
        FEE_DSC = #{feeDsc,jdbcType=VARCHAR},
        FEE_EG_DSC = #{feeEgDsc,jdbcType=VARCHAR},
        REMARK = #{remark,jdbcType=VARCHAR}
        where REC_ID = #{recId,jdbcType=DECIMAL}
    </update>
    <select id="selectFeeTypeByCondition" parameterType="java.util.Map" resultMap="BaseResultMap" useCache="false">
        SELECT T.REC_ID, T.FEE_SUIT_TYPE, T.FEE_TYPE,
        T.FEE_DSC, T.FEE_EG_DSC, T.REMARK, T.CREATE_OPE, T.CREATE_NAME,
        T.CREATE_TIME, T.COMPANY_CODE
        FROM CTAS_FEE_TYPE T
        WHERE T.COMPANY_CODE = #{companyCode,jdbcType=VARCHAR}
        <if test="feeSuitType != null and '' != feeSuitType">
            AND T.FEE_SUIT_TYPE = #{feeSuitType,jdbcType=VARCHAR}
        </if>
        <if test="feeType != null and '' != feeType">
            AND T.FEE_TYPE = #{feeType,jdbcType=VARCHAR}
        </if>
        <if test="feeDsc != null and '' != feeDsc">
            AND T.FEE_DSC = #{feeDsc,jdbcType=VARCHAR}
        </if>
        <if test="feeEgDsc != null and '' != feeEgDsc">
            AND T.FEE_EG_DSC = #{feeEgDsc,jdbcType=VARCHAR}
        </if>
        ORDER BY T.FEE_SUIT_TYPE, T.FEE_TYPE
    </select>
    <select id="getFeeTypeByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap" useCache="false">
        SELECT T.REC_ID, T.FEE_SUIT_TYPE, T.FEE_TYPE,
        T.FEE_DSC, T.FEE_EG_DSC, T.REMARK, T.CREATE_OPE, T.CREATE_NAME,
        T.CREATE_TIME, T.COMPANY_CODE
        FROM CTAS_FEE_TYPE T
        WHERE T.REC_ID = #{recId,jdbcType=DECIMAL}
    </select>
    <select id="isUniqueFeeType" parameterType="ctas.entity.FeeType" resultType="java.lang.Integer" useCache="false">
        SELECT COUNT(1)
        FROM CTAS_FEE_TYPE T
        WHERE T.COMPANY_CODE = #{companyCode,jdbcType=VARCHAR}
        <if test="feeSuitType != null and '' != feeSuitType">
            AND T.FEE_SUIT_TYPE = #{feeSuitType,jdbcType=VARCHAR}
        </if>
        <if test="feeType != null and '' != feeType">
            AND T.FEE_TYPE = #{feeType,jdbcType=VARCHAR}
        </if>
        <if test="recId != null and '' != recId">
            AND T.REC_ID != #{recId,jdbcType=DECIMAL}
        </if>
    </select>
</mapper>