<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ctas.web.mybatis.mapper.FltAdjustMapper">
    <resultMap id="BaseResultMap" type="ctas.entity.FltAdjust">
        <id column="REC_ID" jdbcType="DECIMAL" property="recId"/>
        <result column="COMPANY_CODE" jdbcType="VARCHAR" property="companyCode"/>
        <result column="CARRIER" jdbcType="VARCHAR" property="carrier"/>
        <result column="FEE" jdbcType="DECIMAL" property="fee"/>
        <result column="FEE_CODE" jdbcType="VARCHAR" property="feeCode"/>
        <result column="BILL_NO" jdbcType="DECIMAL" property="billNo"/>
        <result column="EFFECTIVE_BILL_NO" jdbcType="DECIMAL" property="effectiveBillNo"/>
        <result column="IF_DEDUCT_WEIGHT" jdbcType="CHAR" property="ifDeductWeight"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="CREATOR_ID" jdbcType="VARCHAR" property="creatorId"/>
        <result column="CREATOR_NAME" jdbcType="VARCHAR" property="creatorName"/>
        <result column="LAST_UPDATE_TIME" jdbcType="TIMESTAMP"
                property="lastUpdateTime"/>
        <result column="LAST_UPDATOR_ID" jdbcType="VARCHAR" property="lastUpdatorId"/>
        <result column="LAST_UPDATOR_NAME" jdbcType="VARCHAR" property="lastUpdatorName"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
        <result column="DI" jdbcType="CHAR" property="di"/>
        <result column="EI" jdbcType="CHAR" property="ei"/>
    </resultMap>

    <select id="getFltAdjustFee" parameterType="java.util.Map"
            resultType="ctas.web.dto.flt.FltAdjustDto">
        select t.rec_id as recid,
        t.company_code as companyCode,
        t.carrier as airlineId,
        t.fee as amount,
        t.fee_code as feeType,
        decode(t.fee_code,
        'ALL',
        '适用全部',
        (select f.fee_dsc
        from ctas_fee_type f
        where f.fee_type = t.fee_code
        and rownum = 1)) as feeDesc,
        t.bill_no as billDate,
        t.effective_bill_no as effectiveBillNo,
        t.if_deduct_weight as isDeduct,
        t.create_time as createTime,
        t.creator_id as creatorId,
        t.creator_name as creatorName,
        t.last_update_time as lastUpdateTime,
        t.last_updator_id as lastUpdatorId,
        t.last_updator_name as lastUpdatorName,
        t.remark,
        t.di,
        t.ei
        from CTAS_FLT_ADJUST t
        <where>
            <if test="airlineId != null and airlineId!=''">
                AND t.CARRIER = #{airlineId,jdbcType=VARCHAR}
            </if>
            <if test="di != null and di!=''">
                AND t.DI = #{di,jdbcType=VARCHAR}
            </if>
            <if test="ei != null and ei!=''">
                AND t.EI = #{ei,jdbcType=VARCHAR}
            </if>
            <if test="billDate != null and billDate!=''">
                AND t.bill_no = #{billDate,jdbcType=VARCHAR}
            </if>
            <if test="feeType != null and feeType!='' and feeType!='ALL'">
                AND t.fee_code = #{feeType,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <sql id="Base_Column_List">
		REC_ID, COMPANY_CODE, CARRIER, FEE, FEE_CODE, BILL_NO,
		EFFECTIVE_BILL_NO,
		IF_DEDUCT_WEIGHT,
		CREATE_TIME, CREATOR_ID,
		CREATOR_NAME, LAST_UPDATE_TIME, LAST_UPDATOR_ID,
		LAST_UPDATOR_NAME,
		REMARK, DI, EI
	</sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from CTAS_FLT_ADJUST
        where REC_ID = #{recId,jdbcType=DECIMAL}
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		CTAS_FLT_ADJUST
		where REC_ID = #{recId,jdbcType=DECIMAL}
	</delete>
    <insert id="insert" parameterType="ctas.entity.FltAdjust">
        <selectKey keyProperty="recId" order="BEFORE" resultType="Long">
            select SEQ_CTAS_FLT_ADJUST.nextval as recId from dual
        </selectKey>
        insert into CTAS_FLT_ADJUST (REC_ID, COMPANY_CODE, CARRIER, FEE,
        FEE_CODE, BILL_NO, EFFECTIVE_BILL_NO, IF_DEDUCT_WEIGHT, CREATE_TIME,
        CREATOR_ID, CREATOR_NAME, LAST_UPDATE_TIME, LAST_UPDATOR_ID,
        LAST_UPDATOR_NAME, REMARK, DI, EI) values (#{recId,jdbcType=DECIMAL},
        #{companyCode,jdbcType=VARCHAR}, #{carrier,jdbcType=VARCHAR},
        #{fee,jdbcType=DECIMAL}, #{feeCode,jdbcType=VARCHAR},
        #{billNo,jdbcType=DECIMAL}, #{effectiveBillNo,jdbcType=DECIMAL},
        #{ifDeductWeight,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP},
        #{creatorId,jdbcType=VARCHAR}, #{creatorName,jdbcType=VARCHAR},
        #{lastUpdateTime,jdbcType=TIMESTAMP},
        #{lastUpdatorId,jdbcType=VARCHAR},
        #{lastUpdatorName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
        #{di,jdbcType=CHAR}, #{ei,jdbcType=CHAR})
    </insert>
    <insert id="insertSelective" parameterType="ctas.entity.FltAdjust">
        insert into CTAS_FLT_ADJUST
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="recId != null">
                REC_ID,
            </if>
            <if test="companyCode != null">
                COMPANY_CODE,
            </if>
            <if test="carrier != null">
                CARRIER,
            </if>
            <if test="fee != null">
                FEE,
            </if>
            <if test="feeCode != null">
                FEE_CODE,
            </if>
            <if test="billNo != null">
                BILL_NO,
            </if>
            <if test="effectiveBillNo != null">
                EFFECTIVE_BILL_NO,
            </if>
            <if test="ifDeductWeight != null">
                IF_DEDUCT_WEIGHT,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="creatorId != null">
                CREATOR_ID,
            </if>
            <if test="creatorName != null">
                CREATOR_NAME,
            </if>
            <if test="lastUpdateTime != null">
                LAST_UPDATE_TIME,
            </if>
            <if test="lastUpdatorId != null">
                LAST_UPDATOR_ID,
            </if>
            <if test="lastUpdatorName != null">
                LAST_UPDATOR_NAME,
            </if>
            <if test="remark != null">
                REMARK,
            </if>
            <if test="di != null">
                DI,
            </if>
            <if test="ei != null">
                EI,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="recId != null">
                #{recId,jdbcType=DECIMAL},
            </if>
            <if test="companyCode != null">
                #{companyCode,jdbcType=VARCHAR},
            </if>
            <if test="carrier != null">
                #{carrier,jdbcType=VARCHAR},
            </if>
            <if test="fee != null">
                #{fee,jdbcType=DECIMAL},
            </if>
            <if test="feeCode != null">
                #{feeCode,jdbcType=VARCHAR},
            </if>
            <if test="billNo != null">
                #{billNo,jdbcType=DECIMAL},
            </if>
            <if test="effectiveBillNo != null">
                #{effectiveBillNo,jdbcType=DECIMAL},
            </if>
            <if test="ifDeductWeight != null">
                #{ifDeductWeight,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="creatorId != null">
                #{creatorId,jdbcType=VARCHAR},
            </if>
            <if test="creatorName != null">
                #{creatorName,jdbcType=VARCHAR},
            </if>
            <if test="lastUpdateTime != null">
                #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdatorId != null">
                #{lastUpdatorId,jdbcType=VARCHAR},
            </if>
            <if test="lastUpdatorName != null">
                #{lastUpdatorName,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="di != null">
                #{di,jdbcType=CHAR},
            </if>
            <if test="ei != null">
                #{ei,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="ctas.entity.FltAdjust">
        update CTAS_FLT_ADJUST
        <set>
            <if test="companyCode != null">
                COMPANY_CODE = #{companyCode,jdbcType=VARCHAR},
            </if>
            <if test="carrier != null">
                CARRIER = #{carrier,jdbcType=VARCHAR},
            </if>
            <if test="fee != null">
                FEE = #{fee,jdbcType=DECIMAL},
            </if>
            <if test="feeCode != null">
                FEE_CODE = #{feeCode,jdbcType=VARCHAR},
            </if>
            <if test="billNo != null">
                BILL_NO = #{billNo,jdbcType=DECIMAL},
            </if>
            <if test="effectiveBillNo != null">
                EFFECTIVE_BILL_NO = #{effectiveBillNo,jdbcType=DECIMAL},
            </if>
            <if test="ifDeductWeight != null">
                IF_DEDUCT_WEIGHT = #{ifDeductWeight,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="creatorId != null">
                CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
            </if>
            <if test="creatorName != null">
                CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
            </if>
            <if test="lastUpdateTime != null">
                LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdatorId != null">
                LAST_UPDATOR_ID = #{lastUpdatorId,jdbcType=VARCHAR},
            </if>
            <if test="lastUpdatorName != null">
                LAST_UPDATOR_NAME = #{lastUpdatorName,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="di != null">
                DI = #{di,jdbcType=CHAR},
            </if>
            <if test="ei != null">
                EI = #{ei,jdbcType=CHAR},
            </if>
        </set>
        where REC_ID = #{recId,jdbcType=DECIMAL}
    </update>
    <update id="updateByPrimaryKey" parameterType="ctas.entity.FltAdjust">
		update
		CTAS_FLT_ADJUST
		set COMPANY_CODE = #{companyCode,jdbcType=VARCHAR},
		CARRIER = #{carrier,jdbcType=VARCHAR},
		FEE = #{fee,jdbcType=DECIMAL},
		FEE_CODE = #{feeCode,jdbcType=VARCHAR},
		BILL_NO =
		#{billNo,jdbcType=DECIMAL},
		EFFECTIVE_BILL_NO =
		#{effectiveBillNo,jdbcType=DECIMAL},
		IF_DEDUCT_WEIGHT =
		#{ifDeductWeight,jdbcType=CHAR},
		CREATE_TIME =
		#{createTime,jdbcType=TIMESTAMP},
		CREATOR_ID =
		#{creatorId,jdbcType=VARCHAR},
		CREATOR_NAME =
		#{creatorName,jdbcType=VARCHAR},
		LAST_UPDATE_TIME =
		#{lastUpdateTime,jdbcType=TIMESTAMP},
		LAST_UPDATOR_ID =
		#{lastUpdatorId,jdbcType=VARCHAR},
		LAST_UPDATOR_NAME =
		#{lastUpdatorName,jdbcType=VARCHAR},
		REMARK =
		#{remark,jdbcType=VARCHAR},
		DI = #{di,jdbcType=CHAR},
		EI =
		#{ei,jdbcType=CHAR}
		where REC_ID = #{recId,jdbcType=DECIMAL}
	</update>
	<select id="getSumFeeByFeeCode" parameterType="ctas.web.dto.flt.FltOtherFeeQueryDto"
			resultType="ctas.web.dto.flt.FltAdjustDto">
		select FEE_CODE as feeType, sum(nvl(FEE, 0)) FEE, count(1) rowCount
		from CTAS_FLT_ADJUST
		where CARRIER = #{airlineId,jdbcType=VARCHAR}
		AND BILL_NO = #{billDate,jdbcType=DECIMAL}
        AND DI = #{di,jdbcType=VARCHAR}
        AND COMPANY_CODE = #{companyCode,jdbcType=VARCHAR}
		<if test="feeType != null and '' != feeType ">
			AND FEE_CODE = #{feeType,jdbcType=VARCHAR}
		</if>
		GROUP BY FEE_CODE
	</select>
</mapper>