<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ctas.web.mybatis.mapper.FltAdjustDetailMapper">
	<resultMap id="BaseResultMap" type="ctas.entity.FltAdjustDetail">
		<id column="REC_ID" jdbcType="DECIMAL" property="recId" />
		<result column="BASE_REC_ID" jdbcType="DECIMAL" property="baseRecId" />
		<result column="AWB_PRE" jdbcType="VARCHAR" property="awbPre" />
		<result column="AWB_NO" jdbcType="VARCHAR" property="awbNo" />
		<result column="FLIGHT_NO" jdbcType="VARCHAR" property="flightNo" />
		<result column="FLIGHT_DATE" jdbcType="TIMESTAMP" property="flightDate" />
		<result column="FEE_CODE" jdbcType="VARCHAR" property="feeCode" />
		<result column="FEE" jdbcType="DECIMAL" property="fee" />
		<result column="COMPANY_CODE" jdbcType="VARCHAR" property="companyCode" />
		<result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
		<result column="CREATOR_ID" jdbcType="VARCHAR" property="creatorId" />
		<result column="CREATOR_NAME" jdbcType="VARCHAR" property="creatorName" />
		<result column="LAST_UPDATE_TIME" jdbcType="TIMESTAMP"
			property="lastUpdateTime" />
		<result column="LAST_UPDATOR_ID" jdbcType="VARCHAR" property="lastUpdatorId" />
		<result column="LAST_UPDATOR_NAME" jdbcType="VARCHAR" property="lastUpdatorName" />
		<result column="REMARK" jdbcType="VARCHAR" property="remark" />
	</resultMap>

	<select id="getFltAdjustFeeDetail" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		SELECT *
		FROM CTAS_FLT_ADJUST_DETAIL
		WHERE BASE_REC_ID=#{baseRecId,jdbcType=DECIMAL}
	</select>

	<sql id="Base_Column_List">
		REC_ID, BASE_REC_ID, AWB_PRE, AWB_NO, FLIGHT_NO, FLIGHT_DATE, FEE_CODE, FEE,
		COMPANY_CODE,
		CREATE_TIME, CREATOR_ID, CREATOR_NAME, LAST_UPDATE_TIME, LAST_UPDATOR_ID,
		LAST_UPDATOR_NAME,
		REMARK
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from CTAS_FLT_ADJUST_DETAIL
		where REC_ID = #{recId,jdbcType=DECIMAL}
	</select>

	<delete id="deleteByBaseId" parameterType="java.lang.Long">
		delete from CTAS_FLT_ADJUST_DETAIL
		where BASE_REC_ID = #{baseId,jdbcType=DECIMAL}
	</delete>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from CTAS_FLT_ADJUST_DETAIL
		where REC_ID = #{recId,jdbcType=DECIMAL}
	</delete>
	<insert id="insert" parameterType="ctas.entity.FltAdjustDetail">
		
		<selectKey keyProperty="recId" order="BEFORE" resultType="Long">
			select SEQ_CTAS_FLT_ADJUST_DETAIL.nextval as recId from dual
		</selectKey>
	
		insert into CTAS_FLT_ADJUST_DETAIL (REC_ID, BASE_REC_ID, AWB_PRE,
		AWB_NO, FLIGHT_NO, FLIGHT_DATE,
		FEE_CODE, FEE, COMPANY_CODE,
		CREATE_TIME, CREATOR_ID, CREATOR_NAME,
		LAST_UPDATE_TIME, LAST_UPDATOR_ID, LAST_UPDATOR_NAME,
		REMARK)
		values (#{recId,jdbcType=DECIMAL}, #{baseRecId,jdbcType=DECIMAL},
		#{awbPre,jdbcType=VARCHAR},
		#{awbNo,jdbcType=VARCHAR}, #{flightNo,jdbcType=VARCHAR}, #{flightDate,jdbcType=TIMESTAMP},
		#{feeCode,jdbcType=VARCHAR}, #{fee,jdbcType=DECIMAL},
		#{companyCode,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP}, #{creatorId,jdbcType=VARCHAR}, #{creatorName,jdbcType=VARCHAR},
		#{lastUpdateTime,jdbcType=TIMESTAMP},
		#{lastUpdatorId,jdbcType=VARCHAR},
		#{lastUpdatorName,jdbcType=VARCHAR},
		#{remark,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="ctas.entity.FltAdjustDetail">
		insert into CTAS_FLT_ADJUST_DETAIL
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="recId != null">
				REC_ID,
			</if>
			<if test="baseRecId != null">
				BASE_REC_ID,
			</if>
			<if test="awbPre != null">
				AWB_PRE,
			</if>
			<if test="awbNo != null">
				AWB_NO,
			</if>
			<if test="flightNo != null">
				FLIGHT_NO,
			</if>
			<if test="flightDate != null">
				FLIGHT_DATE,
			</if>
			<if test="feeCode != null">
				FEE_CODE,
			</if>
			<if test="fee != null">
				FEE,
			</if>
			<if test="companyCode != null">
				COMPANY_CODE,
			</if>
			<if test="createTime != null">
				CREATE_TIME,
			</if>
			<if test="creatorId != null">
				CREATOR_ID,
			</if>
			<if test="creatorName != null">
				CREATOR_NAME,
			</if>
			<if test="lastUpdateTime != null">
				LAST_UPDATE_TIME,
			</if>
			<if test="lastUpdatorId != null">
				LAST_UPDATOR_ID,
			</if>
			<if test="lastUpdatorName != null">
				LAST_UPDATOR_NAME,
			</if>
			<if test="remark != null">
				REMARK,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="recId != null">
				#{recId,jdbcType=DECIMAL},
			</if>
			<if test="baseRecId != null">
				#{baseRecId,jdbcType=DECIMAL},
			</if>
			<if test="awbPre != null">
				#{awbPre,jdbcType=VARCHAR},
			</if>
			<if test="awbNo != null">
				#{awbNo,jdbcType=VARCHAR},
			</if>
			<if test="flightNo != null">
				#{flightNo,jdbcType=VARCHAR},
			</if>
			<if test="flightDate != null">
				#{flightDate,jdbcType=TIMESTAMP},
			</if>
			<if test="feeCode != null">
				#{feeCode,jdbcType=VARCHAR},
			</if>
			<if test="fee != null">
				#{fee,jdbcType=DECIMAL},
			</if>
			<if test="companyCode != null">
				#{companyCode,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="creatorId != null">
				#{creatorId,jdbcType=VARCHAR},
			</if>
			<if test="creatorName != null">
				#{creatorName,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateTime != null">
				#{lastUpdateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastUpdatorId != null">
				#{lastUpdatorId,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdatorName != null">
				#{lastUpdatorName,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="ctas.entity.FltAdjustDetail">
		update CTAS_FLT_ADJUST_DETAIL
		<set>
			<if test="baseRecId != null">
				BASE_REC_ID = #{baseRecId,jdbcType=DECIMAL},
			</if>
			<if test="awbPre != null">
				AWB_PRE = #{awbPre,jdbcType=VARCHAR},
			</if>
			<if test="awbNo != null">
				AWB_NO = #{awbNo,jdbcType=VARCHAR},
			</if>
			<if test="flightNo != null">
				FLIGHT_NO = #{flightNo,jdbcType=VARCHAR},
			</if>
			<if test="flightDate != null">
				FLIGHT_DATE = #{flightDate,jdbcType=TIMESTAMP},
			</if>
			<if test="feeCode != null">
				FEE_CODE = #{feeCode,jdbcType=VARCHAR},
			</if>
			<if test="fee != null">
				FEE = #{fee,jdbcType=DECIMAL},
			</if>
			<if test="companyCode != null">
				COMPANY_CODE = #{companyCode,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="creatorId != null">
				CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
			</if>
			<if test="creatorName != null">
				CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateTime != null">
				LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastUpdatorId != null">
				LAST_UPDATOR_ID = #{lastUpdatorId,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdatorName != null">
				LAST_UPDATOR_NAME = #{lastUpdatorName,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				REMARK = #{remark,jdbcType=VARCHAR},
			</if>
		</set>
		where REC_ID = #{recId,jdbcType=DECIMAL}
	</update>
	<update id="updateByPrimaryKey" parameterType="ctas.entity.FltAdjustDetail">
		update CTAS_FLT_ADJUST_DETAIL
		set BASE_REC_ID = #{baseRecId,jdbcType=DECIMAL},
		AWB_PRE = #{awbPre,jdbcType=VARCHAR},
		AWB_NO = #{awbNo,jdbcType=VARCHAR},
		FLIGHT_NO = #{flightNo,jdbcType=VARCHAR},
		FLIGHT_DATE = #{flightDate,jdbcType=TIMESTAMP},
		FEE_CODE = #{feeCode,jdbcType=VARCHAR},
		FEE = #{fee,jdbcType=DECIMAL},
		COMPANY_CODE = #{companyCode,jdbcType=VARCHAR},
		CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
		CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
		CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
		LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=TIMESTAMP},
		LAST_UPDATOR_ID = #{lastUpdatorId,jdbcType=VARCHAR},
		LAST_UPDATOR_NAME = #{lastUpdatorName,jdbcType=VARCHAR},
		REMARK = #{remark,jdbcType=VARCHAR}
		where REC_ID = #{recId,jdbcType=DECIMAL}
	</update>
</mapper>