<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ctas.web.mybatis.mapper.FltBillMapper">
	<resultMap id="BaseResultMap" type="ctas.entity.FltBill">
		<id column="REC_ID" property="recId" jdbcType="DECIMAL" />
		<result column="CARRIER" property="carrier" jdbcType="VARCHAR" />
		<result column="CARRIER_DSC" property="carrierDsc" jdbcType="VARCHAR" />
		<result column="FK_FLT_RATE_ID" property="fkFltRateId"
			jdbcType="DECIMAL" />
		<result column="FEE_RULE_DSC" property="feeRuleDsc" jdbcType="VARCHAR" />
		<result column="FEE_TYPE" property="feeType" jdbcType="VARCHAR" />
		<result column="FEE_DSC" property="feeDsc" jdbcType="VARCHAR" />
		<result column="EI" property="ei" jdbcType="VARCHAR" />
		<result column="DI" property="di" jdbcType="VARCHAR" />
		<result column="CARGO_MAIL_FLAG" property="cargoMailFlag"
			jdbcType="VARCHAR" />
		<result column="TRAINS_FLAG" property="trainsFlag" jdbcType="VARCHAR" />
		<result column="AIRPORT" property="airport" jdbcType="VARCHAR" />
		<result column="OPE_STATION" property="opeStation" jdbcType="VARCHAR" />
		<result column="TOTAL_WT" property="totalWt" jdbcType="DECIMAL" />
		<result column="RATE" property="rate" jdbcType="DECIMAL" />
		<result column="FEE" property="fee" jdbcType="DECIMAL" />
		<result column="VAT" property="vat" jdbcType="DECIMAL" />
		<result column="BILL_NO" property="billNo" jdbcType="VARCHAR" />
		<result column="BILL_DATE" property="billDate" jdbcType="DECIMAL" />
		<result column="REMARK" property="remark" jdbcType="VARCHAR" />
		<result column="IMP_WT" property="impWt" jdbcType="DECIMAL" />
		<result column="EXP_WT" property="expWt" jdbcType="DECIMAL" />
		<result column="CREATE_OPE" property="createOpe" jdbcType="VARCHAR" />
		<result column="CREATE_NAME" property="createName" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="TRAINS_TYPE" property="trainsType" jdbcType="VARCHAR" />
		<result column="FLT_MODE" property="fltMode" jdbcType="VARCHAR" />
		<result column="COMPANY_CODE" property="companyCode" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="ResultDtoMap" type="ctas.web.dto.flt.FltBillDto">
		<result column="FEE_TYPE" property="feeType" jdbcType="VARCHAR" />
		<result column="FEE_DSC" property="feeDsc" jdbcType="VARCHAR" />
		<result column="DI" property="di" jdbcType="VARCHAR" />
		<result column="CARGO_MAIL_FLAG" property="cargoMailFlag"
				jdbcType="VARCHAR" />
		<result column="TOTAL_WT" property="totalWt" jdbcType="DECIMAL" />
		<result column="RATE" property="rate" jdbcType="DECIMAL" />
		<result column="FEE" property="fee" jdbcType="DECIMAL" />
	</resultMap>
	<!--根据条件删除 -->
	<delete id="deleteByMap" parameterType="java.util.Map">
		delete from CTAS_FLT_BILL
		where bill_date between #{smonth,jdbcType=DECIMAL} and
		#{emonth,jdbcType=DECIMAL} AND COMPANY_CODE =
		#{companyCode,jdbcType=VARCHAR}
	</delete>

	<sql id="Base_Column_List">
		REC_ID, CARRIER, CARRIER_DSC, FK_FLT_RATE_ID, FEE_RULE_DSC, FEE_TYPE,
		FEE_DSC, EI,
		DI, CARGO_MAIL_FLAG, TRAINS_FLAG, AIRPORT, OPE_STATION, TOTAL_WT, RATE,
		FEE, VAT,
		BILL_NO, BILL_DATE, REMARK, IMP_WT, EXP_WT, CREATE_OPE, CREATE_NAME,
		CREATE_TIME,
		TRAINS_TYPE, FLT_MODE, COMPANY_CODE
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from CTAS_FLT_BILL
		where REC_ID = #{recId,jdbcType=DECIMAL}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from CTAS_FLT_BILL
		where REC_ID = #{recId,jdbcType=DECIMAL}
	</delete>
	<insert id="insert" parameterType="ctas.entity.FltBill">
		insert into CTAS_FLT_BILL (REC_ID, CARRIER, CARRIER_DSC,
		FK_FLT_RATE_ID, FEE_RULE_DSC, FEE_TYPE,
		FEE_DSC, EI, DI, CARGO_MAIL_FLAG,
		TRAINS_FLAG, AIRPORT, OPE_STATION,
		TOTAL_WT, RATE, FEE,
		VAT, BILL_NO, BILL_DATE,
		REMARK, IMP_WT, EXP_WT,
		CREATE_OPE, CREATE_NAME, CREATE_TIME,
		TRAINS_TYPE, FLT_MODE, COMPANY_CODE
		)
		values (#{recId,jdbcType=DECIMAL}, #{carrier,jdbcType=VARCHAR},
		#{carrierDsc,jdbcType=VARCHAR},
		#{fkFltRateId,jdbcType=DECIMAL}, #{feeRuleDsc,jdbcType=VARCHAR}, #{feeType,jdbcType=VARCHAR},
		#{feeDsc,jdbcType=VARCHAR}, #{ei,jdbcType=VARCHAR},
		#{di,jdbcType=VARCHAR}, #{cargoMailFlag,jdbcType=VARCHAR},
		#{trainsFlag,jdbcType=VARCHAR}, #{airport,jdbcType=VARCHAR},
		#{opeStation,jdbcType=VARCHAR},
		#{totalWt,jdbcType=DECIMAL}, #{rate,jdbcType=DECIMAL}, #{fee,jdbcType=DECIMAL},
		#{vat,jdbcType=DECIMAL}, #{billNo,jdbcType=VARCHAR},
		#{billDate,jdbcType=DECIMAL},
		#{remark,jdbcType=VARCHAR}, #{impWt,jdbcType=DECIMAL}, #{expWt,jdbcType=DECIMAL},
		#{createOpe,jdbcType=VARCHAR}, #{createName,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{trainsType,jdbcType=VARCHAR}, #{fltMode,jdbcType=VARCHAR}, #{companyCode,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="ctas.entity.FltBill">
		insert into CTAS_FLT_BILL
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="recId != null">
				REC_ID,
			</if>
			<if test="carrier != null">
				CARRIER,
			</if>
			<if test="carrierDsc != null">
				CARRIER_DSC,
			</if>
			<if test="fkFltRateId != null">
				FK_FLT_RATE_ID,
			</if>
			<if test="feeRuleDsc != null">
				FEE_RULE_DSC,
			</if>
			<if test="feeType != null">
				FEE_TYPE,
			</if>
			<if test="feeDsc != null">
				FEE_DSC,
			</if>
			<if test="ei != null">
				EI,
			</if>
			<if test="di != null">
				DI,
			</if>
			<if test="cargoMailFlag != null">
				CARGO_MAIL_FLAG,
			</if>
			<if test="trainsFlag != null">
				TRAINS_FLAG,
			</if>
			<if test="airport != null">
				AIRPORT,
			</if>
			<if test="opeStation != null">
				OPE_STATION,
			</if>
			<if test="totalWt != null">
				TOTAL_WT,
			</if>
			<if test="rate != null">
				RATE,
			</if>
			<if test="fee != null">
				FEE,
			</if>
			<if test="vat != null">
				VAT,
			</if>
			<if test="billNo != null">
				BILL_NO,
			</if>
			<if test="billDate != null">
				BILL_DATE,
			</if>
			<if test="remark != null">
				REMARK,
			</if>
			<if test="impWt != null">
				IMP_WT,
			</if>
			<if test="expWt != null">
				EXP_WT,
			</if>
			<if test="createOpe != null">
				CREATE_OPE,
			</if>
			<if test="createName != null">
				CREATE_NAME,
			</if>
			<if test="createTime != null">
				CREATE_TIME,
			</if>
			<if test="trainsType != null">
				TRAINS_TYPE,
			</if>
			<if test="fltMode != null">
				FLT_MODE,
			</if>
			<if test="companyCode != null">
				COMPANY_CODE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="recId != null">
				#{recId,jdbcType=DECIMAL},
			</if>
			<if test="carrier != null">
				#{carrier,jdbcType=VARCHAR},
			</if>
			<if test="carrierDsc != null">
				#{carrierDsc,jdbcType=VARCHAR},
			</if>
			<if test="fkFltRateId != null">
				#{fkFltRateId,jdbcType=DECIMAL},
			</if>
			<if test="feeRuleDsc != null">
				#{feeRuleDsc,jdbcType=VARCHAR},
			</if>
			<if test="feeType != null">
				#{feeType,jdbcType=VARCHAR},
			</if>
			<if test="feeDsc != null">
				#{feeDsc,jdbcType=VARCHAR},
			</if>
			<if test="ei != null">
				#{ei,jdbcType=VARCHAR},
			</if>
			<if test="di != null">
				#{di,jdbcType=VARCHAR},
			</if>
			<if test="cargoMailFlag != null">
				#{cargoMailFlag,jdbcType=VARCHAR},
			</if>
			<if test="trainsFlag != null">
				#{trainsFlag,jdbcType=VARCHAR},
			</if>
			<if test="airport != null">
				#{airport,jdbcType=VARCHAR},
			</if>
			<if test="opeStation != null">
				#{opeStation,jdbcType=VARCHAR},
			</if>
			<if test="totalWt != null">
				#{totalWt,jdbcType=DECIMAL},
			</if>
			<if test="rate != null">
				#{rate,jdbcType=DECIMAL},
			</if>
			<if test="fee != null">
				#{fee,jdbcType=DECIMAL},
			</if>
			<if test="vat != null">
				#{vat,jdbcType=DECIMAL},
			</if>
			<if test="billNo != null">
				#{billNo,jdbcType=VARCHAR},
			</if>
			<if test="billDate != null">
				#{billDate,jdbcType=DECIMAL},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="impWt != null">
				#{impWt,jdbcType=DECIMAL},
			</if>
			<if test="expWt != null">
				#{expWt,jdbcType=DECIMAL},
			</if>
			<if test="createOpe != null">
				#{createOpe,jdbcType=VARCHAR},
			</if>
			<if test="createName != null">
				#{createName,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="trainsType != null">
				#{trainsType,jdbcType=VARCHAR},
			</if>
			<if test="fltMode != null">
				#{fltMode,jdbcType=VARCHAR},
			</if>
			<if test="companyCode != null">
				#{companyCode,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="ctas.entity.FltBill">
		update CTAS_FLT_BILL
		<set>
			<if test="carrier != null">
				CARRIER = #{carrier,jdbcType=VARCHAR},
			</if>
			<if test="carrierDsc != null">
				CARRIER_DSC = #{carrierDsc,jdbcType=VARCHAR},
			</if>
			<if test="fkFltRateId != null">
				FK_FLT_RATE_ID = #{fkFltRateId,jdbcType=DECIMAL},
			</if>
			<if test="feeRuleDsc != null">
				FEE_RULE_DSC = #{feeRuleDsc,jdbcType=VARCHAR},
			</if>
			<if test="feeType != null">
				FEE_TYPE = #{feeType,jdbcType=VARCHAR},
			</if>
			<if test="feeDsc != null">
				FEE_DSC = #{feeDsc,jdbcType=VARCHAR},
			</if>
			<if test="ei != null">
				EI = #{ei,jdbcType=VARCHAR},
			</if>
			<if test="di != null">
				DI = #{di,jdbcType=VARCHAR},
			</if>
			<if test="cargoMailFlag != null">
				CARGO_MAIL_FLAG = #{cargoMailFlag,jdbcType=VARCHAR},
			</if>
			<if test="trainsFlag != null">
				TRAINS_FLAG = #{trainsFlag,jdbcType=VARCHAR},
			</if>
			<if test="airport != null">
				AIRPORT = #{airport,jdbcType=VARCHAR},
			</if>
			<if test="opeStation != null">
				OPE_STATION = #{opeStation,jdbcType=VARCHAR},
			</if>
			<if test="totalWt != null">
				TOTAL_WT = #{totalWt,jdbcType=DECIMAL},
			</if>
			<if test="rate != null">
				RATE = #{rate,jdbcType=DECIMAL},
			</if>
			<if test="fee != null">
				FEE = #{fee,jdbcType=DECIMAL},
			</if>
			<if test="vat != null">
				VAT = #{vat,jdbcType=DECIMAL},
			</if>
			<if test="billNo != null">
				BILL_NO = #{billNo,jdbcType=VARCHAR},
			</if>
			<if test="billDate != null">
				BILL_DATE = #{billDate,jdbcType=DECIMAL},
			</if>
			<if test="remark != null">
				REMARK = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="impWt != null">
				IMP_WT = #{impWt,jdbcType=DECIMAL},
			</if>
			<if test="expWt != null">
				EXP_WT = #{expWt,jdbcType=DECIMAL},
			</if>
			<if test="createOpe != null">
				CREATE_OPE = #{createOpe,jdbcType=VARCHAR},
			</if>
			<if test="createName != null">
				CREATE_NAME = #{createName,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="trainsType != null">
				TRAINS_TYPE = #{trainsType,jdbcType=VARCHAR},
			</if>
			<if test="fltMode != null">
				FLT_MODE = #{fltMode,jdbcType=VARCHAR},
			</if>
			<if test="companyCode != null">
				COMPANY_CODE = #{companyCode,jdbcType=VARCHAR},
			</if>
		</set>
		where REC_ID = #{recId,jdbcType=DECIMAL}
	</update>
	<update id="updateByPrimaryKey" parameterType="ctas.entity.FltBill">
		update CTAS_FLT_BILL
		set CARRIER = #{carrier,jdbcType=VARCHAR},
		CARRIER_DSC = #{carrierDsc,jdbcType=VARCHAR},
		FK_FLT_RATE_ID = #{fkFltRateId,jdbcType=DECIMAL},
		FEE_RULE_DSC = #{feeRuleDsc,jdbcType=VARCHAR},
		FEE_TYPE = #{feeType,jdbcType=VARCHAR},
		FEE_DSC = #{feeDsc,jdbcType=VARCHAR},
		EI = #{ei,jdbcType=VARCHAR},
		DI = #{di,jdbcType=VARCHAR},
		CARGO_MAIL_FLAG = #{cargoMailFlag,jdbcType=VARCHAR},
		TRAINS_FLAG = #{trainsFlag,jdbcType=VARCHAR},
		AIRPORT = #{airport,jdbcType=VARCHAR},
		OPE_STATION = #{opeStation,jdbcType=VARCHAR},
		TOTAL_WT = #{totalWt,jdbcType=DECIMAL},
		RATE = #{rate,jdbcType=DECIMAL},
		FEE = #{fee,jdbcType=DECIMAL},
		VAT = #{vat,jdbcType=DECIMAL},
		BILL_NO = #{billNo,jdbcType=VARCHAR},
		BILL_DATE = #{billDate,jdbcType=DECIMAL},
		REMARK = #{remark,jdbcType=VARCHAR},
		IMP_WT = #{impWt,jdbcType=DECIMAL},
		EXP_WT = #{expWt,jdbcType=DECIMAL},
		CREATE_OPE = #{createOpe,jdbcType=VARCHAR},
		CREATE_NAME = #{createName,jdbcType=VARCHAR},
		CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
		TRAINS_TYPE = #{trainsType,jdbcType=VARCHAR},
		FLT_MODE = #{fltMode,jdbcType=VARCHAR},
		COMPANY_CODE = #{companyCode,jdbcType=VARCHAR}
		where REC_ID = #{recId,jdbcType=DECIMAL}
	</update>
	<select id="selectFltBillByCarrier" resultMap="ResultDtoMap" parameterType="ctas.entity.FltBill">
		SELECT
		<include refid="Base_Column_List" />
		FROM CTAS_FLT_BILL
		WHERE CARRIER = #{carrier,jdbcType=VARCHAR}
		AND BILL_DATE	= #{billDate,jdbcType=DECIMAL}
		AND COMPANY_CODE = #{companyCode,jdbcType=VARCHAR}
		AND FEE_TYPE IN ('FAA','FAB')
		<choose>
			<when test="di == 'D'.toString()">
				AND (DI = 'D' OR (DI = 'I' and CARRIER='HO'))
			</when>
			<otherwise>
				AND (DI = 'D' and CARRIER != 'HO' AND CARRIER != 'CA')
			</otherwise>
		</choose>
		ORDER BY FEE_TYPE ASC
	</select>
	<select id="getSumFeeByFeeCode" parameterType="ctas.entity.FltBill"
			resultMap="ResultDtoMap">
		select FEE_TYPE as feeType, sum(nvl(FEE, 0)) FEE
		from CTAS_FLT_BILL
		where CARRIER = #{carrier,jdbcType=VARCHAR}
		AND BILL_DATE = #{billDate,jdbcType=DECIMAL}
		AND DI = #{di,jdbcType=VARCHAR}
		AND COMPANY_CODE = #{companyCode,jdbcType=VARCHAR}
		<if test="feeType != null and '' != feeType ">
			AND FEE_TYPE = #{feeType,jdbcType=VARCHAR}
		</if>
		GROUP BY FEE_TYPE
	</select>
</mapper>