<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ctas.web.mybatis.mapper.FltPlaneNoMapper">
    <resultMap id="BaseResultMap" type="ctas.entity.FltPlaneNo">
        <id column="REC_ID" property="recId" jdbcType="DECIMAL"/>
        <result column="CARRIER" property="carrier" jdbcType="VARCHAR"/>
        <result column="SUB_COMPANY_ID" property="subCompanyId" jdbcType="VARCHAR"/>
        <result column="SUB_COMPANY_DSC" property="subCompanyDsc" jdbcType="VARCHAR"/>
        <result column="PLANE_NO" property="planeNo" jdbcType="VARCHAR"/>
        <result column="STAR_DATE" property="starDate" jdbcType="TIMESTAMP"/>
        <result column="END_DATE" property="endDate" jdbcType="TIMESTAMP"/>
        <result column="MONTH" property="month" jdbcType="DECIMAL"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
        <result column="CREATOR_ID" property="creatorId" jdbcType="VARCHAR"/>
        <result column="CREATOR_NAME" property="creatorName" jdbcType="VARCHAR"/>
        <result column="CREATOR_TIME" property="creatorTime" jdbcType="TIMESTAMP"/>
        <result column="PLANE_USE_MODE" property="planeUseMode" jdbcType="VARCHAR"/>
        <result column="COMPANY_CODE" property="companyCode" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getFltPlaneNoList" parameterType="java.util.Map" resultMap="BaseResultMap">
        select T.REC_ID, T.CARRIER, T.SUB_COMPANY_ID, T.SUB_COMPANY_DSC, T.PLANE_NO,
        T.STAR_DATE, T.END_DATE, T.MONTH, T.REMARK, T.CREATOR_ID, T.CREATOR_NAME,
        T.CREATOR_TIME, T.PLANE_USE_MODE, T.COMPANY_CODE
        from CTAS_FLT_PLANE_NO T
        WHERE T.COMPANY_CODE = #{companyCode,jdbcType=VARCHAR}
        <if test="carrier != null and '' != carrier">
            AND T.CARRIER = #{carrier,jdbcType=VARCHAR}
        </if>
        <if test="planeNo != null and '' != planeNo">
            AND T.PLANE_NO = #{planeNo,jdbcType=VARCHAR}
        </if>
        <if test="planeUseMode != null and '' != planeUseMode">
            AND T.PLANE_USE_MODE = #{planeUseMode,jdbcType=VARCHAR}
        </if>
        <if test="starDate != null">
            AND <![CDATA[T.STAR_DATE >= #{starDate,jdbcType=TIMESTAMP}]]>
        </if>
        <if test="endDate != null">
            AND <![CDATA[T.END_DATE <= #{endDate,jdbcType=TIMESTAMP}]]>
        </if>
        ORDER BY T.CARRIER, T.PLANE_NO
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from CTAS_FLT_PLANE_NO
        where REC_ID = #{recId,jdbcType=DECIMAL}
    </delete>
    <insert id="insert" parameterType="ctas.entity.FltPlaneNo">
        <selectKey keyProperty="recId" order="BEFORE" resultType="Long">
            select SEQ_CTAS_FLT_PLANE_NO.nextval as recId from dual
        </selectKey>
        insert into CTAS_FLT_PLANE_NO (REC_ID, CARRIER, SUB_COMPANY_ID, SUB_COMPANY_DSC, PLANE_NO,
        STAR_DATE, END_DATE, MONTH, REMARK, CREATOR_ID, CREATOR_NAME,
        CREATOR_TIME, PLANE_USE_MODE, COMPANY_CODE)
        values (#{recId,jdbcType=DECIMAL}, #{carrier,jdbcType=VARCHAR}, #{subCompanyId,jdbcType=VARCHAR},
        #{subCompanyDsc,jdbcType=VARCHAR}, #{planeNo,jdbcType=VARCHAR}, #{starDate,jdbcType=TIMESTAMP},
        #{endDate,jdbcType=TIMESTAMP}, #{month,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR},
        #{creatorId,jdbcType=VARCHAR}, #{creatorName,jdbcType=VARCHAR}, #{creatorTime,jdbcType=TIMESTAMP},
        #{planeUseMode,jdbcType=VARCHAR}, #{companyCode,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="ctas.entity.FltPlaneNo">
        update CTAS_FLT_PLANE_NO
        set CARRIER = #{carrier,jdbcType=VARCHAR},
        SUB_COMPANY_ID = #{subCompanyId,jdbcType=VARCHAR},
        SUB_COMPANY_DSC = #{subCompanyDsc,jdbcType=VARCHAR},
        PLANE_NO = #{planeNo,jdbcType=VARCHAR},
        STAR_DATE = #{starDate,jdbcType=TIMESTAMP},
        END_DATE = #{endDate,jdbcType=TIMESTAMP},
        MONTH = #{month,jdbcType=DECIMAL},
        REMARK = #{remark,jdbcType=VARCHAR},
        PLANE_USE_MODE = #{planeUseMode,jdbcType=VARCHAR}
        where REC_ID = #{recId,jdbcType=DECIMAL}
    </update>
    <select id="getFltPlaneNoByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT T.REC_ID, T.CARRIER, T.SUB_COMPANY_ID, T.SUB_COMPANY_DSC, T.PLANE_NO,
        T.STAR_DATE, T.END_DATE, T.MONTH, T.REMARK, T.CREATOR_ID, T.CREATOR_NAME,
        T.CREATOR_TIME, T.PLANE_USE_MODE, T.COMPANY_CODE
        from CTAS_FLT_PLANE_NO T
        WHERE T.REC_ID = #{recId,jdbcType=DECIMAL}
    </select>
</mapper>
