<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ctas.web.mybatis.mapper.FltRateMapper">
    <resultMap id="BaseResultMap" type="ctas.entity.FltRate">
        <id column="REC_ID" property="recId" jdbcType="DECIMAL"/>
        <result column="FEE_RULE_DSC" property="feeRuleDsc" jdbcType="VARCHAR"/>
        <result column="FK_AGREE_ID" property="fkAgreeId" jdbcType="DECIMAL"/>
        <result column="FEE_TYPE" property="feeType" jdbcType="VARCHAR"/>
        <result column="FEE_DSC" property="feeDsc" jdbcType="VARCHAR"/>
        <result column="DI" property="di" jdbcType="VARCHAR"/>
        <result column="TRAINS_FLAG" property="trainsFlag" jdbcType="VARCHAR"/>
        <result column="EI" property="ei" jdbcType="VARCHAR"/>
        <result column="CARGO_MAIL_FLAG" property="cargoMailFlag"
                jdbcType="VARCHAR"/>
        <result column="AIRPORT" property="airport" jdbcType="VARCHAR"/>
        <result column="OPE_STATION" property="opeStation" jdbcType="VARCHAR"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
        <result column="CREATE_OPE" property="createOpe" jdbcType="VARCHAR"/>
        <result column="CREATE_NAME" property="createName" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="RATE_TYPE" property="rateType" jdbcType="CHAR"/>
        <result column="RATE_DSC" property="rateDsc" jdbcType="VARCHAR"/>
        <result column="MIN_PRICE" property="minPrice" jdbcType="DECIMAL"/>
        <result column="RATE" property="rate" jdbcType="DECIMAL"/>
        <result column="FLT_MODE" property="fltMode" jdbcType="VARCHAR"/>
        <result column="TRAINS_TYPE" property="trainsType" jdbcType="VARCHAR"/>
        <result column="COMPANY_CODE" property="companyCode" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 查询费用规则 -->
    <select id="queryFeeRate" resultMap="BaseResultMap" parameterType="java.util.Map">

        select *
        from CTAS_FLT_RATE t
        where 1=1
        <if test="fkAgreeId!=null">
            and t.FK_AGREE_ID = #{fkAgreeId,jdbcType=DECIMAL}
        </if>
        order by t.REC_ID
    </select>

    <!--根据条件删除 -->
    <delete id="deleteByMap" parameterType="java.util.Map">
		delete from ctas_flt_rate
		where CREATE_TIME BETWEEN #{beginDate,jdbcType=TIMESTAMP} AND
		#{endDate,jdbcType=TIMESTAMP} AND COMPANY_CODE =
		#{companyCode,jdbcType=VARCHAR}
	</delete>

    <sql id="Base_Column_List">
		REC_ID, FEE_RULE_DSC, FK_AGREE_ID, FEE_TYPE, FEE_DSC, DI, TRAINS_FLAG, EI,
		CARGO_MAIL_FLAG,
		AIRPORT, OPE_STATION, REMARK, CREATE_OPE, CREATE_NAME, CREATE_TIME, RATE_TYPE,
		RATE_DSC,
		MIN_PRICE, RATE, FLT_MODE, TRAINS_TYPE, COMPANY_CODE
	</sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap"
            parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from CTAS_FLT_RATE
        where REC_ID = #{recId,jdbcType=DECIMAL}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from CTAS_FLT_RATE
		where REC_ID = #{recId,jdbcType=DECIMAL}
	</delete>
    <insert id="insert" parameterType="ctas.entity.FltRate">

        <selectKey keyProperty="recId" order="BEFORE" resultType="Long">
            select SEQ_CTAS_FLT_RATE.NEXTVAL as recId from dual
        </selectKey>

        insert into CTAS_FLT_RATE (REC_ID, FEE_RULE_DSC, FK_AGREE_ID,
        FEE_TYPE, FEE_DSC, DI,
        TRAINS_FLAG, EI, CARGO_MAIL_FLAG,
        AIRPORT, OPE_STATION, REMARK,
        CREATE_OPE, CREATE_NAME, CREATE_TIME,
        RATE_TYPE, RATE_DSC, MIN_PRICE,
        RATE, FLT_MODE, TRAINS_TYPE,
        COMPANY_CODE)
        values (#{recId,jdbcType=DECIMAL}, #{feeRuleDsc,jdbcType=VARCHAR},
        #{fkAgreeId,jdbcType=DECIMAL},
        #{feeType,jdbcType=VARCHAR}, #{feeDsc,jdbcType=VARCHAR}, #{di,jdbcType=VARCHAR},
        #{trainsFlag,jdbcType=VARCHAR}, #{ei,jdbcType=VARCHAR},
        #{cargoMailFlag,jdbcType=VARCHAR},
        #{airport,jdbcType=VARCHAR}, #{opeStation,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
        #{createOpe,jdbcType=VARCHAR}, #{createName,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP},
        #{rateType,jdbcType=CHAR}, #{rateDsc,jdbcType=VARCHAR}, #{minPrice,jdbcType=DECIMAL},
        #{rate,jdbcType=DECIMAL}, #{fltMode,jdbcType=VARCHAR},
        #{trainsType,jdbcType=VARCHAR},
        #{companyCode,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="ctas.entity.FltRate">
        insert into CTAS_FLT_RATE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="recId != null">
                REC_ID,
            </if>
            <if test="feeRuleDsc != null">
                FEE_RULE_DSC,
            </if>
            <if test="fkAgreeId != null">
                FK_AGREE_ID,
            </if>
            <if test="feeType != null">
                FEE_TYPE,
            </if>
            <if test="feeDsc != null">
                FEE_DSC,
            </if>
            <if test="di != null">
                DI,
            </if>
            <if test="trainsFlag != null">
                TRAINS_FLAG,
            </if>
            <if test="ei != null">
                EI,
            </if>
            <if test="cargoMailFlag != null">
                CARGO_MAIL_FLAG,
            </if>
            <if test="airport != null">
                AIRPORT,
            </if>
            <if test="opeStation != null">
                OPE_STATION,
            </if>
            <if test="remark != null">
                REMARK,
            </if>
            <if test="createOpe != null">
                CREATE_OPE,
            </if>
            <if test="createName != null">
                CREATE_NAME,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="rateType != null">
                RATE_TYPE,
            </if>
            <if test="rateDsc != null">
                RATE_DSC,
            </if>
            <if test="minPrice != null">
                MIN_PRICE,
            </if>
            <if test="rate != null">
                RATE,
            </if>
            <if test="fltMode != null">
                FLT_MODE,
            </if>
            <if test="trainsType != null">
                TRAINS_TYPE,
            </if>
            <if test="companyCode != null">
                COMPANY_CODE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="recId != null">
                #{recId,jdbcType=DECIMAL},
            </if>
            <if test="feeRuleDsc != null">
                #{feeRuleDsc,jdbcType=VARCHAR},
            </if>
            <if test="fkAgreeId != null">
                #{fkAgreeId,jdbcType=DECIMAL},
            </if>
            <if test="feeType != null">
                #{feeType,jdbcType=VARCHAR},
            </if>
            <if test="feeDsc != null">
                #{feeDsc,jdbcType=VARCHAR},
            </if>
            <if test="di != null">
                #{di,jdbcType=VARCHAR},
            </if>
            <if test="trainsFlag != null">
                #{trainsFlag,jdbcType=VARCHAR},
            </if>
            <if test="ei != null">
                #{ei,jdbcType=VARCHAR},
            </if>
            <if test="cargoMailFlag != null">
                #{cargoMailFlag,jdbcType=VARCHAR},
            </if>
            <if test="airport != null">
                #{airport,jdbcType=VARCHAR},
            </if>
            <if test="opeStation != null">
                #{opeStation,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createOpe != null">
                #{createOpe,jdbcType=VARCHAR},
            </if>
            <if test="createName != null">
                #{createName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="rateType != null">
                #{rateType,jdbcType=CHAR},
            </if>
            <if test="rateDsc != null">
                #{rateDsc,jdbcType=VARCHAR},
            </if>
            <if test="minPrice != null">
                #{minPrice,jdbcType=DECIMAL},
            </if>
            <if test="rate != null">
                #{rate,jdbcType=DECIMAL},
            </if>
            <if test="fltMode != null">
                #{fltMode,jdbcType=VARCHAR},
            </if>
            <if test="trainsType != null">
                #{trainsType,jdbcType=VARCHAR},
            </if>
            <if test="companyCode != null">
                #{companyCode,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="ctas.entity.FltRate">
        update CTAS_FLT_RATE
        <set>
            <if test="feeRuleDsc != null">
                FEE_RULE_DSC = #{feeRuleDsc,jdbcType=VARCHAR},
            </if>
            <if test="fkAgreeId != null">
                FK_AGREE_ID = #{fkAgreeId,jdbcType=DECIMAL},
            </if>
            <if test="feeType != null">
                FEE_TYPE = #{feeType,jdbcType=VARCHAR},
            </if>
            <if test="feeDsc != null">
                FEE_DSC = #{feeDsc,jdbcType=VARCHAR},
            </if>
            <if test="di != null">
                DI = #{di,jdbcType=VARCHAR},
            </if>
            <if test="trainsFlag != null">
                TRAINS_FLAG = #{trainsFlag,jdbcType=VARCHAR},
            </if>
            <if test="ei != null">
                EI = #{ei,jdbcType=VARCHAR},
            </if>
            <if test="cargoMailFlag != null">
                CARGO_MAIL_FLAG = #{cargoMailFlag,jdbcType=VARCHAR},
            </if>
            <if test="airport != null">
                AIRPORT = #{airport,jdbcType=VARCHAR},
            </if>
            <if test="opeStation != null">
                OPE_STATION = #{opeStation,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createOpe != null">
                CREATE_OPE = #{createOpe,jdbcType=VARCHAR},
            </if>
            <if test="createName != null">
                CREATE_NAME = #{createName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="rateType != null">
                RATE_TYPE = #{rateType,jdbcType=CHAR},
            </if>
            <if test="rateDsc != null">
                RATE_DSC = #{rateDsc,jdbcType=VARCHAR},
            </if>
            <if test="minPrice != null">
                MIN_PRICE = #{minPrice,jdbcType=DECIMAL},
            </if>
            <if test="rate != null">
                RATE = #{rate,jdbcType=DECIMAL},
            </if>
            <if test="fltMode != null">
                FLT_MODE = #{fltMode,jdbcType=VARCHAR},
            </if>
            <if test="trainsType != null">
                TRAINS_TYPE = #{trainsType,jdbcType=VARCHAR},
            </if>
            <if test="companyCode != null">
                COMPANY_CODE = #{companyCode,jdbcType=VARCHAR},
            </if>
        </set>
        where REC_ID = #{recId,jdbcType=DECIMAL}
    </update>
    <update id="updateByPrimaryKey" parameterType="ctas.entity.FltRate">
		update CTAS_FLT_RATE
		set FEE_RULE_DSC = #{feeRuleDsc,jdbcType=VARCHAR},
		FK_AGREE_ID = #{fkAgreeId,jdbcType=DECIMAL},
		FEE_TYPE = #{feeType,jdbcType=VARCHAR},
		FEE_DSC = #{feeDsc,jdbcType=VARCHAR},
		DI = #{di,jdbcType=VARCHAR},
		TRAINS_FLAG = #{trainsFlag,jdbcType=VARCHAR},
		EI = #{ei,jdbcType=VARCHAR},
		CARGO_MAIL_FLAG = #{cargoMailFlag,jdbcType=VARCHAR},
		AIRPORT = #{airport,jdbcType=VARCHAR},
		OPE_STATION = #{opeStation,jdbcType=VARCHAR},
		REMARK = #{remark,jdbcType=VARCHAR},
		CREATE_OPE = #{createOpe,jdbcType=VARCHAR},
		CREATE_NAME = #{createName,jdbcType=VARCHAR},
		CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
		RATE_TYPE = #{rateType,jdbcType=CHAR},
		RATE_DSC = #{rateDsc,jdbcType=VARCHAR},
		MIN_PRICE = #{minPrice,jdbcType=DECIMAL},
		RATE = #{rate,jdbcType=DECIMAL},
		FLT_MODE = #{fltMode,jdbcType=VARCHAR},
		TRAINS_TYPE = #{trainsType,jdbcType=VARCHAR},
		COMPANY_CODE = #{companyCode,jdbcType=VARCHAR}
		where REC_ID = #{recId,jdbcType=DECIMAL}
	</update>
</mapper>