<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ctas.web.mybatis.mapper.RobotLogQueryMapper">
    <resultMap id="BaseResultMap" type="ctas.entity.RobotLog">
        <id column="REC_ID" jdbcType="DECIMAL" property="recId"/>
        <result column="ROBOT_ID" jdbcType="VARCHAR" property="robotId"/>
        <result column="USER_CODE" jdbcType="VARCHAR" property="userCode"/>
        <result column="START_TIME" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="FINISHED_TIME" jdbcType="TIMESTAMP" property="finishedTime"/>
        <result column="ELAPSE_TIME" jdbcType="DECIMAL" property="elapseTime"/>
        <result column="BILL_TYPE" jdbcType="VARCHAR" property="billType"/>
        <result column="BILL_DATE" jdbcType="DECIMAL" property="billDate"/>
        <result column="COMPANY_CODE" jdbcType="VARCHAR" property="companyCode"/>
    </resultMap>
    <sql id="Base_Column_List">
    REC_ID, ROBOT_ID, USER_CODE, START_TIME, FINISHED_TIME, ELAPSE_TIME, BILL_TYPE, BILL_DATE, 
    COMPANY_CODE
  </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from CTAS_ROBOT_LOG
        where REC_ID = #{recId,jdbcType=DECIMAL}
    </select>


    <select id="queryRobotLogs" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from CTAS_ROBOT_LOG
        where COMPANY_CODE = #{companyCode,jdbcType=VARCHAR}
        <if test="userCode != null and '' != userCode">
            AND UPPER(USER_CODE) = #{userCode,jdbcType=VARCHAR}
        </if>
        <if test="billType != null and '' != billType">
            AND BILL_TYPE = #{billType,jdbcType=VARCHAR}
        </if>
        <if test="billDate != null and '' != billDate">
            AND BILL_DATE = #{billDate,jdbcType=DECIMAL}
        </if>
        <if test="beginTime != null and '' != beginTime">
            AND START_TIME  <![CDATA[>=]]> #{beginTime,jdbcType=TIMESTAMP}
        </if>
        <if test="endTime != null and '' != endTime">
            AND START_TIME  <![CDATA[<=]]> #{endTime,jdbcType=TIMESTAMP}
        </if>
        order by START_TIME desc
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from CTAS_ROBOT_LOG
    where REC_ID = #{recId,jdbcType=DECIMAL}
  </delete>
    <insert id="insert" parameterType="ctas.entity.RobotLog">
        <selectKey keyProperty="recId" order="BEFORE" resultType="Long">
            select SEQ_CTAS_ROBOT_LOG.nextval as recId from dual
        </selectKey>
        insert into CTAS_ROBOT_LOG (REC_ID, ROBOT_ID, USER_CODE,
        START_TIME, FINISHED_TIME, ELAPSE_TIME,
        BILL_TYPE, BILL_DATE, COMPANY_CODE
        )
        values (#{recId,jdbcType=DECIMAL}, #{robotId,jdbcType=VARCHAR}, #{userCode,jdbcType=VARCHAR},
        #{startTime,jdbcType=TIMESTAMP}, #{finishedTime,jdbcType=TIMESTAMP}, #{elapseTime,jdbcType=DECIMAL},
        #{billType,jdbcType=VARCHAR}, #{billDate,jdbcType=DECIMAL}, #{companyCode,jdbcType=VARCHAR}
        )
    </insert>


    <update id="updateByPrimaryKey" parameterType="ctas.entity.RobotLog">
    update CTAS_ROBOT_LOG
    set ROBOT_ID = #{robotId,jdbcType=VARCHAR},
      USER_CODE = #{userCode,jdbcType=VARCHAR},
      START_TIME = #{startTime,jdbcType=TIMESTAMP},
      FINISHED_TIME = #{finishedTime,jdbcType=TIMESTAMP},
      ELAPSE_TIME = #{elapseTime,jdbcType=DECIMAL},
      BILL_TYPE = #{billType,jdbcType=VARCHAR},
      BILL_DATE = #{billDate,jdbcType=DECIMAL},
      COMPANY_CODE = #{companyCode,jdbcType=VARCHAR}
    where REC_ID = #{recId,jdbcType=DECIMAL}
  </update>
</mapper>