<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
       default-autowire="byName">


    <bean id="appConfig" class="ctas.bill.calculator.dto.config.AppConfig">

        <!--需要对总货量取整的承运人列表-->
        <property name="roundCarriers" value="CA"/>

        <!--有单独中转协议的承运人列表-->
        <property name="transitCarriers" value="3V"/>

        <!--等效承运人规则-->
        <property name="carrierEqualConfigMap">
            <map>
                <entry key="SQ">
                    <!--注：运单前缀为618，且承运人为CK/MU/FM之一时，认为这是SQ的单子-->
                    <bean class="ctas.bill.calculator.dto.config.CarrierEqualConfig">
                        <property name="awbPrefixAndCarriers">
                            <list>
                                <!--格式约定:运单前缀-承运人2字码-->
                                <value>618-CK</value>
                                <value>618-MU</value>
                                <value>618-FM</value>
                            </list>
                        </property>
                    </bean>
                </entry>
                <entry key="NH">
                    <!--注：遇到5X 且 (Origin或Dest为PVG) 时，认为这是NH的运单-->
                    <bean class="ctas.bill.calculator.dto.config.CarrierEqualConfig">
                        <property name="airportAndCarriers">
                            <list>
                                <!--格式约定：承运人2字码-始发站-目的站-->
                                <value>5X-PVG-PVG</value>
                            </list>
                        </property>
                    </bean>
                </entry>
            </map>
        </property>

        <!--东远物流公司代码-->
        <property name="companyCodeEL" value="SHAMU"/>

        <!--承运人月账单计算费用配置列表-->
        <property name="carrierMonthCalcFeeConfigs">
            <map>
                <!--01.地面服务费-->
                <entry key="FAA">
                    <bean class="ctas.bill.calculator.dto.config.FeeConfig">
                        <property name="enable" value="true"/>
                    </bean>
                </entry>
                <!--02.安检费-->
                <entry key="FAB">
                    <bean class="ctas.bill.calculator.dto.config.FeeConfig">
                        <property name="enable" value="false"/>
                    </bean>
                </entry>
            </map>
        </property>

    </bean>
</beans>