<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task.xsd">

    <bean id="webConfig" class="ctas.web.dto.config.WebConfig">
        <property name="rptBaseUrl" value="${rpt-base-url}"/>
        <property name="version" value="150617"/>
        <property name="systemCode" value="ctas"/>
        <property name="env" value="${env}"/>
        <property name="hessianUrl" value="${iuds-hessian-url}"/>
        <property name="billSwitchDay" value="10"/>
        <property name="robotHeartBeatMaxTime" value="1"/>
        <property name="taskExecuteMaxTime" value="15"/>
    </bean>

    <!-- 支持异步方法执行 -->
    <task:annotation-driven/>

</beans>
